In [221]:
# Utilizando sistema de gerenciador de pacotes.
# Todos os pacotes utilizados na aplicação, é listado no arquivo 'requirements.txt'.
# É obrigatório a execução desta bloco de código antes de executar os demais blocos de códigos.
%pip install -r requirements.txt

Requirement already satisfied: pandas==2.1.3 in c:\users\tcast\appdata\local\programs\python\python311\lib\site-packages (from -r requirements.txt (line 1)) (2.1.3)
Requirement already satisfied: matplotlib==3.8.1 in c:\users\tcast\appdata\local\programs\python\python311\lib\site-packages (from -r requirements.txt (line 2)) (3.8.1)
Requirement already satisfied: seaborn==0.13.0 in c:\users\tcast\appdata\local\programs\python\python311\lib\site-packages (from -r requirements.txt (line 3)) (0.13.0)
Requirement already satisfied: numpy==1.26.2 in c:\users\tcast\appdata\local\programs\python\python311\lib\site-packages (from -r requirements.txt (line 4)) (1.26.2)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\tcast\appdata\local\programs\python\python311\lib\site-packages (from pandas==2.1.3->-r requirements.txt (line 1)) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\tcast\appdata\local\programs\python\python311\lib\site-packages (from pandas==2.1.3->-r requirements.txt (line 1)) (2023.3)
Requirement already satisfied: tzdata>=2022.1 in c:\users\tcast\appdata\local\programs\python\python311\lib\site-packages (from pandas==2.1.3->-r requirements.txt (line 1)) (2023.3)
Requirement already satisfied: contourpy>=1.0.1 in c:\users\tcast\appdata\local\programs\python\python311\lib\site-packages (from matplotlib==3.8.1->-r requirements.txt (line 2)) (1.2.0)
Requirement already satisfied: cycler>=0.10 in c:\users\tcast\appdata\local\programs\python\python311\lib\site-packages (from matplotlib==3.8.1->-r requirements.txt (line 2)) (0.12.1)
Requirement already satisfied: fonttools>=4.22.0 in c:\users\tcast\appdata\local\programs\python\python311\lib\site-packages (from matplotlib==3.8.1->-r requirements.txt (line 2)) (4.44.3)
Requirement already satisfied: kiwisolver>=1.3.1 in c:\users\tcast\appdata\local\programs\python\python311\lib\site-packages (from matplotlib==3.8.1->-r requirements.txt (line 2)) (1.4.5)
Requirement already satisfied: packaging>=20.0 in c:\users\tcast\appdata\roaming\python\python311\site-packages (from matplotlib==3.8.1->-r requirements.txt (line 2)) (23.1)
Requirement already satisfied: pillow>=8 in c:\users\tcast\appdata\local\programs\python\python311\lib\site-packages (from matplotlib==3.8.1->-r requirements.txt (line 2)) (10.1.0)
Requirement already satisfied: pyparsing>=2.3.1 in c:\users\tcast\appdata\local\programs\python\python311\lib\site-packages (from matplotlib==3.8.1->-r requirements.txt (line 2)) (3.1.1)
Requirement already satisfied: six>=1.5 in c:\users\tcast\appdata\local\programs\python\python311\lib\site-packages (from python-dateutil>=2.8.2->pandas==2.1.3->-r requirements.txt (line 1)) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip available: 22.3.1 -> 23.3.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [222]:
# Importando as bibliotecas necessárias.
import pandas as pd
import matplotlib as plot
import seaborn as sbn
import numpy as np

In [223]:
# Atribuindo a variável 'principal' o arquivo .csv para tratabilidade
df = pd.read_csv(r'00_dataset\cleaned_data.csv', sep=',', encoding='utf-8')
df.head()

,Unnamed: 0,Name,Company,Location,Description,preprocessed_salary
0,0,data scientist,"tantus technologies, inc.","woodlawn, md","tantus technologies, inc, tantus, - recognized...",137500.0
1,1,data scientist,rogue credit union,"medford, or",department: business intelligence and enterpri...,NaN
2,2,data scientist,knowbe4,"clearwater, fl",we are ranked 1 best place to work in technolo...,85000.0
3,3,data scientist,affinity solutions,"new york, ny","data scientistaffinity solutions, marketing cl...",114500.0
4,4,data scientist,pnnl,"richland, wa",. *organization and job id. *job description. ...,76500.0

In [224]:
# Renomeando as colunas para uma melhor visualização
df.columns = ['ID', 'Name', 'Company', 'Location', 'Description', 'Salary']
df.head()

,ID,Name,Company,Location,Description,Salary
0,0,data scientist,"tantus technologies, inc.","woodlawn, md","tantus technologies, inc, tantus, - recognized...",137500.0
1,1,data scientist,rogue credit union,"medford, or",department: business intelligence and enterpri...,NaN
2,2,data scientist,knowbe4,"clearwater, fl",we are ranked 1 best place to work in technolo...,85000.0
3,3,data scientist,affinity solutions,"new york, ny","data scientistaffinity solutions, marketing cl...",114500.0
4,4,data scientist,pnnl,"richland, wa",. *organization and job id. *job description. ...,76500.0

In [225]:
# Verificado que a coluna em questão está para contagem de linhas, a mesma foi retirada do dataframe
df.drop(['ID'], axis=1, inplace=True)
df.head()

,Name,Company,Location,Description,Salary
0,data scientist,"tantus technologies, inc.","woodlawn, md","tantus technologies, inc, tantus, - recognized...",137500.0
1,data scientist,rogue credit union,"medford, or",department: business intelligence and enterpri...,NaN
2,data scientist,knowbe4,"clearwater, fl",we are ranked 1 best place to work in technolo...,85000.0
3,data scientist,affinity solutions,"new york, ny","data scientistaffinity solutions, marketing cl...",114500.0
4,data scientist,pnnl,"richland, wa",. *organization and job id. *job description. ...,76500.0

In [226]:
# Chamando a coluna Salary para visualização dos dados em questão
df['Salary'].count()

2277

In [227]:
# Fazendo a contagem de quantos NaN conta dentro da coluna 'Salary'
df['Salary'].isna().sum()

12542

In [228]:
# Atribuindo 0 aos valores ausentes na coluna 'Salary'
df['Salary'] = df['Salary'].fillna(0, inplace=False)
df.head()

,Name,Company,Location,Description,Salary
0,data scientist,"tantus technologies, inc.","woodlawn, md","tantus technologies, inc, tantus, - recognized...",137500.0
1,data scientist,rogue credit union,"medford, or",department: business intelligence and enterpri...,0.0
2,data scientist,knowbe4,"clearwater, fl",we are ranked 1 best place to work in technolo...,85000.0
3,data scientist,affinity solutions,"new york, ny","data scientistaffinity solutions, marketing cl...",114500.0
4,data scientist,pnnl,"richland, wa",. *organization and job id. *job description. ...,76500.0

In [229]:
# Configuração para mostrar o conteúdo completo da coluna
pd.set_option('display.max_colwidth', None)

In [230]:
# Resetar para o tamanho padrão (50)
pd.reset_option('display.max_colwidth')

In [231]:
# Função para tratar uma string dividida por vírgulas
def tratar_string(arg):
    partes = arg.split(',')
    
    if len(partes) == 1:   # Se houver apenas uma parte, converte para título (primeira letra de cada palavra maiúscula)
        return partes[0].title()
    elif len(partes) == 2: # Se houver duas partes, converte a primeira para título e a segunda para maiúsculas (removendo espaços em branco desnecessários)
        return f"{partes[0].title()}, {partes[1].strip().upper()}"
    elif len(partes) == 3: # Se houver três partes, converte a primeira para título, a segunda e a terceira para maiúsculas (removendo espaços em branco desnecessários)
        return f"{partes[0].title()}, {partes[1].strip().upper()}, {partes[2].strip().upper()}"
    else:                  # Se houver mais de três partes, retorna a string original
        return arg

# Converte as colunas 'Name' e 'Company' para o formato de título
df['Name'] = df['Name'].str.title()
df['Company'] = df['Company'].str.title()
df['Location'] = df['Location'].apply(tratar_string)  # Aplica a função tratar_string à coluna 'Location' do DataFrame

df.head()

,Name,Company,Location,Description,Salary
0,Data Scientist,"Tantus Technologies, Inc.","Woodlawn, MD","tantus technologies, inc, tantus, - recognized...",137500.0
1,Data Scientist,Rogue Credit Union,"Medford, OR",department: business intelligence and enterpri...,0.0
2,Data Scientist,Knowbe4,"Clearwater, FL",we are ranked 1 best place to work in technolo...,85000.0
3,Data Scientist,Affinity Solutions,"New York, NY","data scientistaffinity solutions, marketing cl...",114500.0
4,Data Scientist,Pnnl,"Richland, WA",. *organization and job id. *job description. ...,76500.0

In [232]:
# Definindo uma string padrão 'Scientist' para a variável defaultDataScientist
defaultDataScientist = 'Scientist'
# Definindo uma função chamada 'Job' que categoriza trabalhos com base em palavras-chave
def Job(arg):
    # Dicionário de categorias e suas palavras-chave associadas
    keywords = {
        'Data Scientist': ['scientist', 'science', 'sceintist'],
        'Data Analyst': ['analyst', 'analytics', 'analysis', 'anaylst', 'intelligence', 'model',
                         'big data', 'visual', 'verif', 'report', 'special', 'platf'],
        'Data Engineer': ['engineer'],
        'Machine Learning': ['machine learning'],
        'Data Architect': ['architect'],
        'Statistician': ['math', 'statis'],
        'App Developer': ['devel'],
        'Data Researcher': ['research'],
        'Biologist': ['biolo'],
        'Data Mining': ['mining'],
        'Consultant': ['consult'],
        'Data Manager': ['manage'],
        'Data Strategy': ['strat']
    }
    # Convertendo a entrada para minúsculas para tornar a comparação de palavras-chave case-insensitive
    arg_lower = arg.lower()
    # Iterando sobre as categorias e suas palavras-chave associadas
    for category, keywords_list in keywords.items():   
        if any(keyword in arg_lower for keyword in keywords_list): # Verificando se pelo menos uma palavra-chave está presente na entrada
            return category
    # Se nenhuma correspondência é encontrada, retorna 'Others'
    return 'Others'

dfName = df['Name'].unique()    # Obtendo valores únicos da coluna 'Name' do DataFrame df
resultados = [Job(i) for i in dfName]   # Aplicando a função Job para categorizar os nomes dos trabalhos e armazenando os resultados
resultados_series = pd.Series(resultados).unique()  # Obtendo valores únicos da série de resultados
df_resultados = pd.DataFrame(resultados_series, columns=['Names'])  # Criando um DataFrame com os resultados

df_resultados

               Names
0     Data Scientist
1      Data Engineer
2       Data Analyst
3             Others
4       Data Manager
5     Data Architect
6      App Developer
7          Biologist
8    Data Researcher
9         Consultant
10      Statistician
11     Data Strategy
12  Machine Learning
13       Data Mining

In [258]:
def get_state(location):
    state_mapping = {
        'Alabama, AL': ['alabama'], 'Alaska, AK': ['alaska'], 'Arizona, AZ': ['arizona'], 'Arkansas, AR': ['arkansas'],
        'American Samoa, AS': ['american samoa'], 
        'California, CA': ['california', 'san jose', 'mountain view', 
        'san francisco', 'redlands', 'fremont', 'san diego', 'milpitas', 'palo alto', 'santa barbara', 'novato', 'santa fe springs',
        'los angeles', 'valencia', 'agoura hills', 'san rafael', 'concord', 'highland', 'burbank', 'carlsbad', 'scotts valley',
        'camarillo', 'irvine', 'woodland hills', 'redwood city', 'alameda', 'san ramon', 'monterey', 'fountain valley',
        'santa clara', 'torrance', 'brisbane', 'oakland', 'sunnyvale', 'san carlos', 'san mateo', 'clovis', 'menlo park', 'duarte',
        'encinitas', 'long beach', 'thousand oaks', 'universal city', 'anaheim', 'culver city', 'cerritos', 'santa monica', 'el segundo',
        'glendale', 'brea', 'westmont', 'pasadena', 'irwindale', 'calabasas', 'hermosa beach', 'whittier', 'northridge', 'marina del rey',
        'monaco', 'venice', 'sherman oaks', 'wilmington', 'monrovia', 'carson', 'seal beach'
        ], 'Colorado, CO': ['colorado', 'denver'],
        'Connecticut, CT': ['connecticut'], 'Delaware, DE': ['delaware'], 'District of Columbia, DC': ['district of columbia'],
        'Florida, FL': ['florida', 'clearwater'], 'Georgia, GA': ['georgia'], 'Guam, GU': ['guam'], 'Hawaii, HI': ['hawaii'],
        'Idaho, ID': ['idaho'], 'Illinois, IL': ['illinois', 'chicago'], 'Indiana, IN': ['indiana'], 'Iowa, IA': ['iowa'],
        'Kansas, KS': ['kansas'], 'Kentucky, KY': ['kentucky'], 'Louisiana, LA': ['louisiana'],
        'Maine, ME': ['maine'], 'Maryland, MD': ['maryland', 'woodlawn', 'linthicum heights', 'baltimore'], 'Massachusetts, MA': ['massachusetts'],
        'Michigan, MI': ['michigan'], 'Minnesota, MN': ['minnesota', 'apple valley'], 'Mississippi, MS': ['mississippi'],
        'Missouri, MO': ['missouri'], 'Montana, MT': ['montana'], 'Nebraska, NE': ['nebraska'],
        'Nevada, NV': ['nevada'], 'New Hampshire, NH': ['new hampshire'], 'New Jersey, NJ': ['new jersey', 'fort lee', 'newark'],
        'New Mexico, NM': ['new mexino'], 'New York, NY': ['new york', 'new hyde park,'], 'North Carolina, NC': ['north carolina'],
        'North Dakota, ND': ['north dakota'], 'Northern Mariana Islands, MP': ['northern mariana islands'],
        'Ohio, OH': ['ohio', 'bedford', 'brunswick', 'mentor'], 'Oklahoma, OK': ['oklahoma'], 'Oregon, OR': ['oregon', 'medford'], 'Pennsylvania, PA': ['Pennsylvania'],
        'Puerto Rico, PR': ['puerto rico'], 'Rhode Island, RI': ['rhode island'], 'South Carolina, SC': ['south carolina'],
        'South Dakota, SD': ['south dakota'], 'Tennessee, TN': ['tennessee'], 'Texas, TX': ['texas', 'dallas'],
        'Trust Territories, TT': ['trust territories'], 'Utah, UT': ['utah'], 'Vermont, VT': ['vermont'],
        'Virginia, VA': ['virginia'], 'Virgin Islands, VI': ['virgin islands'], 'Washington, WA': ['washington', 'richland', 'seattle'],
        'West Virginia, WV': ['west virginia'], 'Wisconsin, WI': ['wisconsin'], 'Wyoming, WY': ['wyoming']
    }

    location_lower = location.lower()
    for state, keywords_list in state_mapping.items():
        if any(keyword in location_lower for keyword in keywords_list):
            return state
    return location


df_locations = df['Location'].unique()
resultados = [get_state(location) for location in df_locations]
resultados_series = pd.Series(resultados).unique()
df_resultados = pd.DataFrame(resultados_series, columns=['States'])

df_resultados
pd.set_option('display.max_rows', None)
print(df_resultados)

                                                              States
0                                                       Maryland, MD
1                                                         Oregon, OR
2                                                        Florida, FL
3                                                       New York, NY
4                                                     Washington, WA
5                                                     California, CA
6                                                      Minnesota, MN
7                                                     New Jersey, NJ
8                                                       Illinois, IL
9                                                          Texas, TX
10                                                     Cambridge, MA
11                                                     Chantilly, VA
12                                                           Toronto
13                                                      Colorado, CO
14                                                          Montreal
15                                                       Herndon, VA
16                                                       Detroit, MI
17                                                    Cincinnati, OH
18                                                     Worcester, MA
19                                                    Coraopolis, PA
20                                                       Ipswich, MA
21                                                   Albuquerque, NM
22                                                        Mclean, VA
23                                                     Ann Arbor, MI
24                                                        Groton, CT
25                                                   Marlborough, MA
26                                                     Charlotte, NC
27                                                  Philadelphia, PA
28                                                      Longmont, CO
29                                               Fort Lauderdale, FL
30                                                       Kingdom, IL
31                                                        Armonk, NY
32                                                        Boston, MA
33                                                      Bellevue, WA
34                                                   Saint Louis, MO
35                                                         Omaha, NE
36                                                       Atlanta, GA
37                                                      Hill Afb, UT
38                                                    Framingham, MA
39                                                   Miami Lakes, FL
40                                                        Laurel, MD
41                                                            Remote
42                                                    Huntsville, AL
43                                                    Pittsburgh, PA
44                                                     Arlington, VA
45                                                        Ithaca, NY
46                                                 North Reading, MA
47                                                       Atlanta, IN
48                                                       Indiana, IN
49                                                        Vienna, VA
50                                                       Boulder, CO
51                                                        Woburn, MA
52                                                        Tacoma, WA
53                                                   New Orleans, LA
54                                                      Suitland, MD
55                                                       Ashburn, VA
56                                                    Harrisburg, PA
57                                                     Milwaukee, WI
58                                                      Syracuse, NY
59                                           Cumberland Foreside, ME
60                                                     Vancouver, WA
61                                                         Plano, TX
62                                                        Reston, VA
63                                                      Richmond, VA
64                                                    Southfield, MI
65                                                  Fort Belvoir, VA
66                                                 Silver Spring, MD
67                                                       Phoenix, AZ
68                                                     Lyndhurst, NJ
69                                                      Landover, MD
70                                                         Miami, FL
71                                                      Virginia, VA
72                                                        Austin, TX
73                                                   Great Falls, MT
74                                                     Rochester, MN
75                                                       Houston, TX
76                                                   Minneapolis, MN
77                                                     Alabaster, AL
78                                                      Bethesda, MD
79                                                    Fort Worth, TX
80                                                         Phila, PA
81                                                   Chattanooga, TN
82                                                     Nashville, TN
83                                                     Rockville, MD
84                                                         Lewes, DE
85                                                         Tampa, FL
86                                                  Collegeville, PA
87                                                   Lake Forest, IL
88                                                    Providence, RI
89                                                      Santa Fe, NM
90                                                         Tempe, AZ
91                                                     Frederick, MD
92                                            Annapolis Junction, MD
93                                                   Woodinville, WA
94                                                       Madison, WI
95                                                      Hamilton, NJ
96                                                   Mount Olive, NJ
97                                                    Alexandria, VA
98                                                   Springfield, MO
99                                                  West Reading, PA
100                                                     Dearborn, MI
101                                                  Winter Park, FL
102                                                  Springfield, MA
103                                                       Peoria, IL
104                                                    Lafayette, LA
105                                                       Durham, NC
106                                                       Quincy, MA
107                                                     Burleson, TX
108                                                    Owensboro, KY
109                                                      Georgia, GA
110                                                     Marietta, GA
111                                               Salt Lake City, UT
112                                                    Richfield, OH
113                                                      Hampton, VA
114                                                    Hoopeston, IL
115                                                       Newton, MA
116                                                   Portsmouth, VA
117                                                       Aurora, CO
118                                                      Lincoln, NE
119                                                  Bloomington, MN
120                                                      Hoboken, NJ
121                                                   Woodbridge, NJ
122                                                      Matawan, NJ
123                                                 Gaithersburg, MD
124                                                 Grand Rapids, MI
125                                                        Ewing, NJ
126                                               West Lafayette, IN
127                                                    Oak Ridge, TN
128                                                    Anchorage, AK
129                                                        Boise, ID
130                                                       Irving, TX
131                                                        Pella, IA
132                                              King Of Prussia, PA
133                                                  Bloomington, IL
134                                                    Melbourne, FL
135                                                Winston-Salem, NC
136                                                     Columbia, MD
137                                                       Lenexa, KS
138                                                       Natick, MA
139                                                  Tallahassee, FL
140                                                       Dulles, VA
141                                                  San Antonio, TX
142                                                    Millville, DE
143                                                  Creve Coeur, MO
144                                                 Cedar Rapids, IA
145                                                       Dayton, OH
146                                                   Burlington, MA
147                                                     Westlake, OH
148                                                      Waltham, MA
149                                                   Des Moines, IA
150                                                  Glen Burnie, MD
151                                                         Ohio, OH
152                                              Charlottesville, VA
153                                                    Allentown, PA
154                                                      Orlando, FL
155                                                  Springfield, VA
156                                                  Jersey City, NJ
157                                                    Wellesley, MA
158                                                   Merrifield, VA
159                                                     Honolulu, HI
160                                                      Bristol, CT
161                                                       Edison, NJ
162                                                  Beavercreek, OH
163                                                   Alpharetta, GA
164                                                   Louisville, KY
165                                                       Renton, WA
166                                                   Schaumburg, IL
167                                                 Crystal City, VA
168                                                       Arvada, CO
169                                                     Columbia, MO
170                                                  Johns Creek, GA
171                                                      Bothell, WA
172                                                   Scottsdale, AZ
173                                                      Roanoke, VA
174                                                    Watertown, MA
175                                                    Amsterdam, NY
176                                                  Mooresville, NC
177                                                        Logan, UT
178                                                       Albany, NY
179                                                    United States
180                                                    Tarrytown, NY
181                                                    Englewood, CO
182                                                   Birmingham, AL
183                                                     Michigan, MI
184                                                   Fort Meade, MD
185                                                     Franklin, TN
186                                                   Piscataway, NJ
187                                                     Brooklyn, NY
188                                                  Carle Place, NY
189                                               Franklin Lakes, NJ
190                                             Rockville Centre, NY
191                                               Queens Village, NY
192                                                   Middletown, NJ
193                                                 Florham Park, NJ
194                                                       Summit, NJ
195                                                      Maywood, NJ
196                                                  West Orange, NJ
197                                                     Evanston, IL
198                                                 Melrose Park, IL
199                                                       Lemont, IL
200                                                     Rosemont, IL
201                                                   Northbrook, IL
202                                                     Elmhurst, IL
203                                                Downers Grove, IL
204                                              Rolling Meadows, IL
205                                                   Naperville, IL
206                                                      Maywood, IL
207                                                    Oak Brook, IL
208                                                  Des Plaines, IL
209                                                        Hines, IL
210                                               Evergreen Park, IL
211                                                   Bridgeview, IL
212                                                        Alvin, TX
213                                                     Stafford, TX
214                                                     Pearland, TX
215                                                       Spring, TX
216                                                   Sugar Land, TX
217                                                      Webster, TX
218                                                      Baytown, TX
219                                                   Nassau Bay, TX
220                                        West University Place, TX
221                                                     Missouri, MO
222                                                     Bellaire, TX
223                                                     Chandler, AZ
224                                                      Gilbert, AZ
225                                                         Mesa, AZ
226                                                     Dc Ranch, AZ
227                                                     Luke Afb, AZ
228                                                      Newtown, PA
229                                                    Blue Bell, PA
230                                              Gloucester City, NJ
231                                                        Exton, PA
232                                                       Camden, NJ
233                                                 Valley Forge, PA
234                                                  Bala Cynwyd, PA
235                                                 Conshohocken, PA
236                                                 West Chester, PA
237                                                        Wayne, PA
238                                                      Horsham, PA
239                                                 Spring House, PA
240                                        Stevenage, UNITED KINGDOM
241                               Springhouse Branch Post Office, PA
242                                                     Boothwyn, PA
243                                                     Bensalem, PA
244                                            West Conshohocken, PA
245                                         Feasterville Trevose, PA
246                                                      Malvern, PA
247                                                        Paoli, PA
248                                               Allegheny West, PA
249                                                       Radnor, PA
250                                             Plymouth Meeting, PA
251                                                      Bristol, PA
252                                        Brentford, UNITED KINGDOM
253                                                   Doylestown, PA
254                                             Chester Township, PA
255                                                  Ridley Park, PA
256                                                 Mount Laurel, NJ
257                                                   West Point, PA
258                                                   Warminster, PA
259                                                  Cherry Hill, NJ
260                                                   Pennsauken, NJ
261                                                        Media, PA
262                                                       Berwyn, PA
263                                                   Norristown, PA
264                                                  North Wales, PA
265                                                      Schertz, TX
266                                                 Lackland Afb, TX
267                                             Fort Sam Houston, TX
268                                                        Poway, CA
269                                                     La Jolla, CA
270                                                  Chula Vista, CA
271                                                National City, CA
272                                                        Allen, TX
273                                                   Richardson, TX
274                                                    Arlington, TX
275                                                    Grapevine, TX
276                                                Grand Prairie, TX
277                                                      Addison, TX
278                                                   Lewisville, TX
279                                                      Coppell, TX
280                                               Farmers Branch, TX
281                                                   Carrollton, TX
282                                                    Southlake, TX
283                                                    Cupertino, CA
284                                                   Union City, CA
285                                                    Livermore, CA
286                                                   Pleasanton, CA
287                                                     Stanford, CA

In [11]:
# Gerando a classe do dataframe que utilizaremos no projeto
class Science:
    def __init__(self, name, company, location, description, salary):
        self.name = name
        self.company = company
        self.location = location
        self.description = description
        self.salary = salary
    
    @staticmethod
    def showById(lst, idx):
        if 0 <= idx < len(lst):
            print(f'Recuperado da lista o objeto de id: {idx}')
            item = lst[idx]
            print(f"Name: {item.name}," +
                  f"\nCompany: {item.company}," +
                  f"\nLocation: {item.location}," +
                  f"\nDescription: {item.description}," +
                  f"\nSalary: {item.salary}")
        else:
            print(f"O index informado ({idx}) não existe, por favor, selecione algo entre 0 e {len(lst)-1}.")

    @staticmethod
    def showAll(lst, top = None):
        if top is not None:
            print(f'Mostrando o(s) {top} primeiro(s) registro(s).')
            lst = lst[:top]
            
        for idx, item in enumerate(lst):
            print(f"ID: {idx}, Name: {item.name}, Company: {item.company}, Location: {item.location}, Description: {item.description}, Salary: {item.salary}")

list_science = [Science(row['Name'], row['Company'], row['Location'], row['Description'], row['Salary']) for index, row in df.iterrows()]

Science.showById(list_science, 20000)
Science.showAll(list_science, 2)

O index informado (20000) não existe, por favor, selecione algo entre 0 e 14818.
Mostrando o(s) 2 primeiro(s) registro(s).
ID: 0, Name: data scientist, Company: tantus technologies, inc., Location: woodlawn, md, Description: tantus technologies, inc, tantus, - recognized by the washington post as a top workplace - is seeking a data scientist with focus on artifical intellenge, machine learning, nlp and federal government healthcare space to help tantus build solutions for our customers that enable them to extract value from their data. drive the development of ai, ml, nlp solutions for tantus emerging technologies teamassist the team in identifying, building and optimizing machine learning algorithms and models, annotations, entity recognition and custom classifier models, assist with defining and driving ai strategiesbachelor’s or master’s degree in data science or artificial intelligence and machine learning, strongly preferred, ; bachelor’s or master’s degree in applied mathematics or computer scienceoverall experience for 3-5 years in the ai, ml, nlp domainhands on experience developing supervised modelshands on experience in at least one of the programming languages – python, r, java or chands on experience in working with databasesexposure to cloud technologies and general knowledge of at least one cloud platform provider, aws, azure or google, good communication skillsexperience in mlopsexperience in working with ml tools such as aws comprehend, sagemaker, google muppetsuite, Salary: 137500.0
ID: 1, Name: data scientist, Company: rogue credit union, Location: medford, or, Description: department: business intelligence and enterprise risk management. reports to:vice president of enterprise insights. grade:15classification: exempt. supervises direct: 0supervises indirect:0. role. this position is responsible for aiding operational areas of the organization leveraging both internal and external data assets to achieve business insights, gain deeper understanding of member needs, and enhance tactical and strategic decision making. essential functionsand responsibilities. 35% uncover and operationalize underlying structure and relationships within the data utilizing supervised and unsupervised machine learning techniques. develop models, processes, and structures necessary to support analytic needs of rogue credit union using machine learning in latest generation languages. work with vice president of enterprise insights and other staff to implement various analytical models, anything from churn, future value, or recommender systems. build small reporting layer on top of analytical models to ensure accountability and insight into models outcomes and impact. able to pilot and build poc’s to demonstrate and test business value of model. extracts operational, performance, statistical and other data from various information systems. 30% educate and demystify analytical models to business users. develop presentations and trainings for business users to increase understanding of statistics and implementation of models. maintain department as the competency center for analytics within rogue credit union. 30% works closely with vice president of enterprise insights to interpret report results. analyze, interpret, and summarize analytical model’s results. participates in the interpretation and context of complex business reports. runs what-if simulations based on varying factors and assumptions. identifies exceptions, positive and negative trends and measures that are out of tolerance with established limits and ranges. identifies potential concerns based on projections of current trends. performs statistical and financial analysis of data. 5% proactively performs other duties as needed or assigned. performance measurements. supports and practices rogues vision, mission, values, and loyalty culture. utilizes the service promises with both internal and external members. embraces rogues community involvement program in a positive and proactive manner. collaborates with other team members of formal and informal groups in the pursuit of rogue’s mission, vision, and guiding values. demonstrates empathy, self-reflection, and adjustment of own behaviors, displaying effective emotional intelligence. places team needs and priorities above personal needs. draws on the strengths of colleagues and gives credit to others contributions and achievements. adept with using large data sets to find opportunities for product and process optimization and models to test the effectiveness of different courses of action with a a proven ability to drive business results with databased insights. identifies and acts upon opportunities for continuous improvement. encourages prudent risk-taking, exploration of alternative approaches, and organizational learning. demonstrates personal commitment to change through actions and words. supports others in embracing change through times of stress and uncertainty. translates up to date information into continuous improvement activities that enhances performance. gathers and analyzes information or data on current and future trends of best practice. seeks information on issues impacting the progress of organizational and process issues. demonstrates excellent time management skills with the ability to work independently. prioritizes daily tasks and workflow and is able to multi-task. completes department and individual job-related goals on time and with quality results. assists in meeting credit union goals and objectives. knowledge and skills. experience:three years to five years of similar or related experience in designing, developing, and implementing data science solutions. understanding of the financial services industry desired. education: masters of science in information technology, computer science, statistics, or related degree preferred. equivalent to a college degree and a professional certificate or a graduate degree. bachelors of science degree in information technology, computer science, statistics, or related business degree with equivalent experience of 3 years. interpersonal skills:the ability to motivate or influence others is a material part of the job, requiring a significant level of diplomacy and trust. obtaining cooperation, internally and, or externally, is an important part of the job and a high level of interpersonal skills are critical to the success of this position. work frequently involves contacts requiring considerable discussion of problems, material presentations, and resolving issues impacting departments or divisions. other skills:prior experience developing business analytical solutions in large or midsize companies with the ability to manage multiple tasks simultaneously and react to problems quickly. must have programming experience with 4th generation and 3rd generation computer languages such as python and r, development experience with relational database structures, multi-dimensional database, and data warehouse design architecture, as well as experience with dashboard design and delivery. must possess strong sql abilities. experience with data mining models and ensemble model approaches or techniques. experience with both oracle and microsoft desired. must be highly productive, self-managed, resourceful, and dependable. should possess a strong eye for detail and accuracy, strong research, strategic, and critical thinking ability. must have excellent verbal and written communication skills and the ability to motivate or influence others using diplomacy and good judgment. physical requirements: some lifting required, up to 30 pounds, continuous sitting, occasional standing and occasional walking. finger dexterity while using computer. occasional talking and hearing in person and on the telephone. continuous clarity of vision at 20 inches or less and continuous clarity of vision at 20 feet or more. work environment:this job is an exempt position that requires flexibility in scheduling tasks and projects. the employee must independently monitor hours and judge the time needed to be spent on applicable duties. employee must be capable of adjusting to unpredictable schedules proactively. as a direct representative of the credit union, the employee must conduct and present themselves courteously and professionally. exposed to potentially hazardous conditions, i. e, robbery. travel to all credit union regions may be required. disclaimer. job descriptions are not intended, and should not be construed to be exhaustive lists of all responsibilities, skills, efforts, or working conditions associated with a job. they are intended to be accurate reflections of those principal job elements essential for making fair pay decisions about jobs. note: rogue credit union is a drug free workplace and requires a drug screening test within 48 hours of employment offer. rogue credit union is an equal opportunity employer and makes employment decisions without regard to race, color, national origin, religion, sex, age, disability, veteran status, or any other protected class. if you are an individual with a disability and require a reasonable accommodation to complete any part of the application process, or are limited in the ability or unable to access or use this online application process and need an alternative method, please call, 541, 622-7577 or email cnunez@roguecu. org. this job description is not a complete statement of all duties and responsibilities comprising the position., Salary: nan