In [85]:
# Utilizando sistema de gerenciador de pacotes.
# Todos os pacotes utilizados na aplicação, é listado no arquivo 'requirements.txt'.
# É obrigatório a execução desta bloco de código antes de executar os demais blocos de códigos.
%pip install -r requirements.txt

Requirement already satisfied: pandas==2.1.3 in c:\users\tcast\appdata\local\programs\python\python311\lib\site-packages (from -r requirements.txt (line 1)) (2.1.3)
Requirement already satisfied: matplotlib==3.8.1 in c:\users\tcast\appdata\local\programs\python\python311\lib\site-packages (from -r requirements.txt (line 2)) (3.8.1)
Requirement already satisfied: seaborn==0.13.0 in c:\users\tcast\appdata\local\programs\python\python311\lib\site-packages (from -r requirements.txt (line 3)) (0.13.0)
Requirement already satisfied: numpy==1.26.2 in c:\users\tcast\appdata\local\programs\python\python311\lib\site-packages (from -r requirements.txt (line 4)) (1.26.2)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\tcast\appdata\local\programs\python\python311\lib\site-packages (from pandas==2.1.3->-r requirements.txt (line 1)) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\tcast\appdata\local\programs\python\python311\lib\site-packages (from pandas==2.1.3->-r requirements.txt (line 1)) (2023.3)
Requirement already satisfied: tzdata>=2022.1 in c:\users\tcast\appdata\local\programs\python\python311\lib\site-packages (from pandas==2.1.3->-r requirements.txt (line 1)) (2023.3)
Requirement already satisfied: contourpy>=1.0.1 in c:\users\tcast\appdata\local\programs\python\python311\lib\site-packages (from matplotlib==3.8.1->-r requirements.txt (line 2)) (1.2.0)
Requirement already satisfied: cycler>=0.10 in c:\users\tcast\appdata\local\programs\python\python311\lib\site-packages (from matplotlib==3.8.1->-r requirements.txt (line 2)) (0.12.1)
Requirement already satisfied: fonttools>=4.22.0 in c:\users\tcast\appdata\local\programs\python\python311\lib\site-packages (from matplotlib==3.8.1->-r requirements.txt (line 2)) (4.44.3)
Requirement already satisfied: kiwisolver>=1.3.1 in c:\users\tcast\appdata\local\programs\python\python311\lib\site-packages (from matplotlib==3.8.1->-r requirements.txt (line 2)) (1.4.5)
Requirement already satisfied: packaging>=20.0 in c:\users\tcast\appdata\roaming\python\python311\site-packages (from matplotlib==3.8.1->-r requirements.txt (line 2)) (23.1)
Requirement already satisfied: pillow>=8 in c:\users\tcast\appdata\local\programs\python\python311\lib\site-packages (from matplotlib==3.8.1->-r requirements.txt (line 2)) (10.1.0)
Requirement already satisfied: pyparsing>=2.3.1 in c:\users\tcast\appdata\local\programs\python\python311\lib\site-packages (from matplotlib==3.8.1->-r requirements.txt (line 2)) (3.1.1)
Requirement already satisfied: six>=1.5 in c:\users\tcast\appdata\local\programs\python\python311\lib\site-packages (from python-dateutil>=2.8.2->pandas==2.1.3->-r requirements.txt (line 1)) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip available: 22.3.1 -> 23.3.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [86]:
# Importando as bibliotecas necessárias.
import pandas as pd
import matplotlib as plot
import seaborn as sbn
import numpy as np

In [87]:
# Atribuindo a variável 'principal' o arquivo .csv para tratabilidade
df = pd.read_csv(r'00_dataset\cleaned_data.csv', sep=',', encoding='utf-8')
df.head()

,Unnamed: 0,Name,Company,Location,Description,preprocessed_salary
0,0,data scientist,"tantus technologies, inc.","woodlawn, md","tantus technologies, inc, tantus, - recognized...",137500.0
1,1,data scientist,rogue credit union,"medford, or",department: business intelligence and enterpri...,NaN
2,2,data scientist,knowbe4,"clearwater, fl",we are ranked 1 best place to work in technolo...,85000.0
3,3,data scientist,affinity solutions,"new york, ny","data scientistaffinity solutions, marketing cl...",114500.0
4,4,data scientist,pnnl,"richland, wa",. *organization and job id. *job description. ...,76500.0

In [88]:
# Renomeando as colunas para uma melhor visualização
df.columns = ['ID', 'Name', 'Company', 'Location', 'Description', 'Salary']
df.head()

,ID,Name,Company,Location,Description,Salary
0,0,data scientist,"tantus technologies, inc.","woodlawn, md","tantus technologies, inc, tantus, - recognized...",137500.0
1,1,data scientist,rogue credit union,"medford, or",department: business intelligence and enterpri...,NaN
2,2,data scientist,knowbe4,"clearwater, fl",we are ranked 1 best place to work in technolo...,85000.0
3,3,data scientist,affinity solutions,"new york, ny","data scientistaffinity solutions, marketing cl...",114500.0
4,4,data scientist,pnnl,"richland, wa",. *organization and job id. *job description. ...,76500.0

In [89]:
# Verificado que a coluna em questão está para contagem de linhas, a mesma foi retirada do dataframe
df.drop(['ID'], axis=1, inplace=True)
df.head()

,Name,Company,Location,Description,Salary
0,data scientist,"tantus technologies, inc.","woodlawn, md","tantus technologies, inc, tantus, - recognized...",137500.0
1,data scientist,rogue credit union,"medford, or",department: business intelligence and enterpri...,NaN
2,data scientist,knowbe4,"clearwater, fl",we are ranked 1 best place to work in technolo...,85000.0
3,data scientist,affinity solutions,"new york, ny","data scientistaffinity solutions, marketing cl...",114500.0
4,data scientist,pnnl,"richland, wa",. *organization and job id. *job description. ...,76500.0

In [90]:
# Chamando a coluna Salary para visualização dos dados em questão
df['Salary'].count()

2277

In [91]:
# Fazendo a contagem de quantos NaN conta dentro da coluna 'Salary'
df['Salary'].isna().sum()

12542

In [92]:
# Atribuindo 0 aos valores ausentes na coluna 'Salary'
df['Salary'] = df['Salary'].fillna(0, inplace=False)
df.head()

,Name,Company,Location,Description,Salary
0,data scientist,"tantus technologies, inc.","woodlawn, md","tantus technologies, inc, tantus, - recognized...",137500.0
1,data scientist,rogue credit union,"medford, or",department: business intelligence and enterpri...,0.0
2,data scientist,knowbe4,"clearwater, fl",we are ranked 1 best place to work in technolo...,85000.0
3,data scientist,affinity solutions,"new york, ny","data scientistaffinity solutions, marketing cl...",114500.0
4,data scientist,pnnl,"richland, wa",. *organization and job id. *job description. ...,76500.0

In [93]:
# Configuração para mostrar o conteúdo completo da coluna
pd.set_option('display.max_colwidth', None)

In [94]:
# Resetar para o tamanho padrão (50)
pd.reset_option('display.max_colwidth')

In [95]:
# Função para tratar uma string dividida por vírgulas
def tratar_string(arg):
    partes = arg.split(',')
    
    if len(partes) == 1:   # Se houver apenas uma parte, converte para título (primeira letra de cada palavra maiúscula)
        return partes[0].title()
    elif len(partes) == 2: # Se houver duas partes, converte a primeira para título e a segunda para maiúsculas (removendo espaços em branco desnecessários)
        return f"{partes[0].title()}, {partes[1].strip().upper()}"
    elif len(partes) == 3: # Se houver três partes, converte a primeira para título, a segunda e a terceira para maiúsculas (removendo espaços em branco desnecessários)
        return f"{partes[0].title()}, {partes[1].strip().upper()}, {partes[2].strip().upper()}"
    else:                  # Se houver mais de três partes, retorna a string original
        return arg

# Converte as colunas 'Name' e 'Company' para o formato de título
df['Name'] = df['Name'].str.title()
df['Company'] = df['Company'].str.title()
df['Location'] = df['Location'].apply(tratar_string)  # Aplica a função tratar_string à coluna 'Location' do DataFrame

df.head()

,Name,Company,Location,Description,Salary
0,Data Scientist,"Tantus Technologies, Inc.","Woodlawn, MD","tantus technologies, inc, tantus, - recognized...",137500.0
1,Data Scientist,Rogue Credit Union,"Medford, OR",department: business intelligence and enterpri...,0.0
2,Data Scientist,Knowbe4,"Clearwater, FL",we are ranked 1 best place to work in technolo...,85000.0
3,Data Scientist,Affinity Solutions,"New York, NY","data scientistaffinity solutions, marketing cl...",114500.0
4,Data Scientist,Pnnl,"Richland, WA",. *organization and job id. *job description. ...,76500.0

In [96]:
# Definindo uma string padrão 'Scientist' para a variável defaultDataScientist
defaultDataScientist = 'Scientist'
# Definindo uma função chamada 'Job' que categoriza trabalhos com base em palavras-chave
def Job(arg):
    # Dicionário de categorias e suas palavras-chave associadas
    keywords = {
        'Data Scientist': ['scientist', 'science', 'sceintist'],
        'Data Analyst': ['analyst', 'analytics', 'analysis', 'anaylst', 'intelligence', 'model',
                         'big data', 'visual', 'verif', 'report', 'special', 'platf'],
        'Data Engineer': ['engineer'],
        'Machine Learning': ['machine learning'],
        'Data Architect': ['architect'],
        'Statistician': ['math', 'statis'],
        'App Developer': ['devel'],
        'Data Researcher': ['research'],
        'Biologist': ['biolo'],
        'Data Mining': ['mining'],
        'Consultant': ['consult'],
        'Data Manager': ['manage'],
        'Data Strategy': ['strat']
    }
    # Convertendo a entrada para minúsculas para tornar a comparação de palavras-chave case-insensitive
    arg_lower = arg.lower()
    # Iterando sobre as categorias e suas palavras-chave associadas
    for category, keywords_list in keywords.items():   
        if any(keyword in arg_lower for keyword in keywords_list): # Verificando se pelo menos uma palavra-chave está presente na entrada
            return category
    # Se nenhuma correspondência é encontrada, retorna 'Others'
    return 'Others'

dfName = df['Name'].unique()    # Obtendo valores únicos da coluna 'Name' do DataFrame df
resultados = [Job(i) for i in dfName]   # Aplicando a função Job para categorizar os nomes dos trabalhos e armazenando os resultados
resultados_series = pd.Series(resultados).unique()  # Obtendo valores únicos da série de resultados
df_resultados = pd.DataFrame(resultados_series, columns=['Names'])  # Criando um DataFrame com os resultados

df_resultados

               Names
0     Data Scientist
1      Data Engineer
2       Data Analyst
3             Others
4       Data Manager
5     Data Architect
6      App Developer
7          Biologist
8    Data Researcher
9         Consultant
10      Statistician
11     Data Strategy
12  Machine Learning
13       Data Mining

In [104]:
dflocation = df['Location']
dflocation.tolist()

['Woodlawn, MD',
 'Medford, OR',
 'Clearwater, FL',
 'New York, NY',
 'Richland, WA',
 'Baltimore, MD',
 'San Jose, CA',
 'Apple Valley, MN',
 'New York, NY',
 'Seattle, WA',
 'Fort Lee, NJ',
 'Chicago, IL',
 'Dallas, TX',
 'San Jose, CA',
 'Newark, NJ',
 'Mountain View, CA',
 'San Francisco, CA',
 'Cambridge, MA',
 'Redlands, CA',
 'Chantilly, VA',
 'Toronto',
 'Chicago, IL',
 'Denver, CO',
 'Montreal',
 'Herndon, VA',
 'Detroit, MI',
 'Cambridge, MA',
 'Cincinnati, OH',
 'Worcester, MA',
 'Coraopolis, PA',
 'Baltimore, MD',
 'Clearwater, FL',
 'Ipswich, MA',
 'Albuquerque, NM',
 'Mclean, VA',
 'Ann Arbor, MI',
 'Groton, CT',
 'San Francisco, CA',
 'Marlborough, MA',
 'Herndon, VA',
 'Fremont, CA',
 'Charlotte, NC',
 'Philadelphia, PA',
 'Long Beach, NY',
 'Longmont, CO',
 'Mountain View, CA',
 'Fort Lauderdale, FL',
 'Kingdom, IL',
 'Seattle, WA',
 'Armonk, NY',
 'Boston, MA',
 'Bellevue, WA',
 'Dallas, TX',
 'San Francisco, CA',
 'New York, NY',
 'Albuquerque, NM',
 'Saint Louis, MO',
 'Omaha, NE',
 'Atlanta, GA',
 'San Francisco, CA',
 'Hill Afb, UT',
 'Chicago, IL',
 'Richland, WA',
 'San Jose, CA',
 'Boston, MA',
 'Framingham, MA',
 'Atlanta, GA',
 'Miami Lakes, FL',
 'Laurel, MD',
 'Remote',
 'Huntsville, AL',
 'Chicago, IL',
 'Pittsburgh, PA',
 'New York, NY',
 'Arlington, VA',
 'Ithaca, NY',
 'North Reading, MA',
 'Atlanta, IN',
 'Richland, WA',
 'San Jose, CA',
 'Mountain View, CA',
 'Indianapolis, IN',
 'Vienna, VA',
 'Boulder, CO',
 'Woburn, MA',
 'Chantilly, VA',
 'Tacoma, WA',
 'San Francisco, CA',
 'New Orleans, LA',
 'Mclean, VA',
 'San Diego, CA',
 'Suitland, MD',
 'Ashburn, VA',
 'Harrisburg, PA',
 'Seattle, WA',
 'Fort Lee, NJ',
 'Milwaukee, WI',
 'Chicago, IL',
 'San Francisco, CA',
 'Chantilly, VA',
 'Syracuse, NY',
 'Cumberland Foreside, ME',
 'Vancouver, WA',
 'Plano, TX',
 'Reston, VA',
 'New York, NY',
 'Milpitas, CA',
 'Palo Alto, CA',
 'Richmond, VA',
 'Southfield, MI',
 'Fort Belvoir, VA',
 'Silver Spring, MD',
 'San Francisco, CA',
 'Phoenix, AZ',
 'Santa Barbara, CA',
 'Lyndhurst, NJ',
 'Cambridge, MA',
 'Landover, MD',
 'Novato, CA',
 'Miami, FL',
 'Virginia',
 'Austin, TX',
 'Cambridge, MA',
 'Great Falls, MT',
 'Rochester, MN',
 'Houston, TX',
 'New York, NY',
 'Seattle, WA',
 'Novato, CA',
 'Landover, MD',
 'Austin, TX',
 'Miami, FL',
 'Virginia',
 'Austin, TX',
 'Cambridge, MA',
 'Great Falls, MT',
 'Rochester, MN',
 'Houston, TX',
 'Cincinnati, OH',
 'South San Francisco, CA',
 'Minneapolis, MN',
 'Baltimore, MD',
 'Alabaster, AL',
 'Mountain View, CA',
 'Milwaukee, WI',
 'Denver, CO',
 'Bethesda, MD',
 'Fort Worth, TX',
 'Phila, PA',
 'New York, NY',
 'Washington, DC',
 'Chattanooga, TN',
 'Nashville, TN',
 'Phoenix, AZ',
 'Rockville, MD',
 'Mountain View, CA',
 'Santa Fe Springs, LOS ANGELES, CA',
 'Herndon, VA',
 'San Jose, CA',
 'Chicago, IL',
 'Fort Lee, NJ',
 'Lewes, DE',
 'Valencia, CA',
 'Tampa, FL',
 'South San Francisco, CA',
 'San Diego, CA',
 'Collegeville, PA',
 'Lake Forest, IL',
 'Chicago, IL',
 'Cincinnati, OH',
 'San Francisco, CA',
 'Providence, RI',
 'Santa Fe, NM',
 'Tempe, AZ',
 'Frederick, MD',
 'Annapolis Junction, MD',
 'San Jose, CA',
 'Woodinville, WA',
 'Madison, WI',
 'New York, NY',
 'Hamilton, NJ',
 'Mount Olive, NJ',
 'Marlborough, MA',
 'Alexandria, VA',
 'Springfield, MO',
 'Boston, MA',
 'Cambridge, MA',
 'Richland, WA',
 'West Reading, PA',
 'Herndon, VA',
 'Cambridge, MA',
 'Mountain View, CA',
 'Novato, CA',
 'Ithaca, NY',
 'Dearborn, MI',
 'Winter Park, FL',
 'San Francisco, CA',
 'Springfield, MA',
 'Peoria, IL',
 'Charlotte, NC',
 'Agoura Hills, CA',
 'San Rafael, CA',
 'New York, NY',
 'San Diego, CA',
 'Indianapolis, IN',
 'San Francisco, CA',
 'Pittsburgh, PA',
 'Lafayette, LA',
 'Providence, RI',
 'Atlanta, GA',
 'Rockville, MD',
 'Indianapolis, IN',
 'San Francisco, CA',
 'Durham, NC',
 'South San Francisco, CA',
 'Concord, CA',
 'Quincy, MA',
 'Burleson, TX',
 'San Francisco, CA',
 'Ithaca, NY',
 'Highland, CA',
 'Owensboro, KY',
 'Dallas, TX',
 'San Francisco, CA',
 'San Francisco, CA',
 'Indianapolis, IN',
 'Chicago, IL',
 'Durham, NC',
 'Burleson, TX',
 'South San Francisco, CA',
 'San Francisco, CA',
 'San Francisco, CA',
 'Highland, CA',
 'Burbank, CA',
 'San Francisco, CA',
 'Georgia Southern, GA',
 'Marietta, GA',
 'Rockville, MD',
 'Durham, NC',
 'Salt Lake City, UT',
 'Durham, NC',
 'Denver, CO',
 'New York, NY',
 'Richfield, OH',
 'Carlsbad, CA',
 'Indianapolis, IN',
 'Hampton, VA',
 'Hoopeston, IL',
 'San Francisco, CA',
 'San Francisco, CA',
 'Chicago, IL',
 'Newton, MA',
 'Mountain View, CA',
 'Scotts Valley, CA',
 'Redlands, CA',
 'Chantilly, VA',
 'Hamilton, NJ',
 'Mount Olive, NJ',
 'Saint Louis, MO',
 'Medford, MA',
 'Houston, TX',
 'Camarillo, CA',
 'Marlborough, MA',
 'Portsmouth, VA',
 'Alexandria, VA',
 'South San Francisco, CA',
 'Irvine, CA',
 'Springfield, MO',
 'Woodland Hills, CA',
 'Aurora, CO',
 'Herndon, VA',
 'Boston, MA',
 'Cambridge, MA',
 'Lincoln, NE',
 'Houston, TX',
 'West Reading, PA',
 'San Jose, CA',
 'Richland, WA',
 'Bloomington, MN',
 'Austin, TX',
 'Atlanta, GA',
 'Redwood City, CA',
 'Herndon, VA',
 'Hoboken, NJ',
 'Woodbridge, NJ',
 'Matawan, NJ',
 'Chicago, IL',
 'Denver, CO',
 'Gaithersburg, MD',
 'Grand Rapids, MI',
 'South San Francisco, CA',
 'Vancouver, WA',
 'Ewing, NJ',
 'Cambridge, MA',
 'Cincinnati, OH',
 'Charlotte, NC',
 'Cambridge, MA',
 'West Lafayette, IN',
 'New York, NY',
 'Alameda, CA',
 'Arlington, VA',
 'Chantilly, VA',
 'Worcester, MA',
 'South San Francisco, CA',
 'Washington, DC',
 'Cambridge, MA',
 'Houston, TX',
 'San Francisco, CA',
 'Austin, TX',
 'Mountain View, CA',
 'Fort Belvoir, VA',
 'Concord, CA',
 'San Francisco, CA',
 'Oak Ridge, TN',
 'Anchorage, AK',
 'Richland, WA',
 'Rockville, MD',
 'Clearwater, FL',
 'Detroit, MI',
 'Groton, CT',
 'New Orleans, LA',
 'San Francisco, CA',
 'Cambridge, MA',
 'Boise, ID',
 'Herndon, VA',
 'Virginia',
 'Milpitas, CA',
 'Hill Afb, UT',
 'Reston, VA',
 'Chicago, IL',
 'San Ramon, CA',
 'Washington, DC',
 'Irving, TX',
 'San Francisco, CA',
 'Ithaca, NY',
 'Novato, CA',
 'Lake Forest, IL',
 'Pella, IA',
 'Armonk, NY',
 'Houston, TX',
 'Winter Park, FL',
 'Cambridge, MA',
 'Boise, ID',
 'Monterey, CA',
 'Dearborn, MI',
 'Atlanta, GA',
 'Mountain View, CA',
 'San Francisco, CA',
 'South San Francisco, CA',
 'Springfield, MA',
 'Cincinnati, OH',
 'Herndon, VA',
 'San Francisco, CA',
 'San Diego, CA',
 'San Francisco, CA',
 'Durham, NC',
 'New York, NY',
 'Chicago, IL',
 'South San Francisco, CA',
 'Concord, CA',
 'Burleson, TX',
 'Quincy, MA',
 'Huntsville, AL',
 'Cambridge, MA',
 'San Francisco, CA',
 'Newark, CA',
 'Mountain View, CA',
 'Laurel, MD',
 'Newton, MA',
 'San Francisco, CA',
 'Saint Louis, MO',
 'Ithaca, NY',
 'Burbank, CA',
 'San Francisco, CA',
 'Highland, CA',
 'Herndon, VA',
 'Alexandria, VA',
 'Mountain View, CA',
 'Owensboro, KY',
 'Gaithersburg, MD',
 'Richland, WA',
 'San Francisco, CA',
 'Coraopolis, PA',
 'Cambridge, MA',
 'King Of Prussia, PA',
 'Chicago, IL',
 'New York, NY',
 'Fort Belvoir, VA',
 'Rockville, MD',
 'Marietta, GA',
 'San Francisco, CA',
 'New York, NY',
 'San Jose, CA',
 'South San Francisco, CA',
 'Nashville, TN',
 'Denver, CO',
 'Salt Lake City, UT',
 'Bloomington, IL',
 'Melbourne, FL',
 'Winston-Salem, NC',
 'Charlotte, NC',
 'Cambridge, MA',
 'San Diego, CA',
 'Columbia, MD',
 'San Francisco, CA',
 'Lenexa, KS',
 'Durham, NC',
 'Natick, MA',
 'New York, NY',
 'Richfield, OH',
 'New York, NY',
 'Marlborough, MA',
 'Chicago, IL',
 'Indianapolis, IN',
 'Groton, CT',
 'Ipswich, MA',
 'Gaithersburg, MD',
 'New York, NY',
 'Owensboro, KY',
 'Richland, WA',
 'New York, NY',
 'King Of Prussia, PA',
 'Georgia Southern, GA',
 'New York, NY',
 'New York, NY',
 'New York, NY',
 'Palo Alto, CA',
 'New York, NY',
 'Chicago, IL',
 'Marietta, GA',
 'Rockville, MD',
 'Mclean, VA',
 'Durham, NC',
 'San Jose, CA',
 'New York, NY',
 'South San Francisco, CA',
 'Salt Lake City, UT',
 'Denver, CO',
 'Houston, TX',
 'Bloomington, IL',
 'Winston-Salem, NC',
 'San Diego, CA',
 'Charlotte, NC',
 'Cambridge, MA',
 'New York, NY',
 'Durham, NC',
 'Mclean, VA',
 'Albuquerque, NM',
 'Marlborough, MA',
 'Chicago, IL',
 'Indianapolis, IN',
 'New York, NY',
 'Charlotte, NC',
 'Austin, TX',
 'Chantilly, VA',
 'Denver, CO',
 'Hampton, VA',
 'Carlsbad, CA',
 'South San Francisco, CA',
 'San Francisco, CA',
 'San Francisco, CA',
 'Indianapolis, IN',
 'New York, NY',
 'Chicago, IL',
 'Boston, MA',
 'Atlanta, GA',
 'Newton, MA',
 'Tallahassee, FL',
 'Cambridge, MA',
 'Mountain View, CA',
 'Scotts Valley, CA',
 'Cambridge, MA',
 'Washington, DC',
 'Chicago, IL',
 'Mountain View, CA',
 'Dulles, VA',
 'San Antonio, TX',
 'Boston, MA',
 'San Francisco, CA',
 'Ann Arbor, MI',
 'San Antonio, TX',
 'Philadelphia, PA',
 'Seattle, WA',
 'South San Francisco, CA',
 'Cambridge, MA',
 'Boston, MA',
 'South San Francisco, CA',
 'Boston, MA',
 'Fountain Valley, CA',
 'Cambridge, MA',
 'New York, NY',
 'Millville, DE',
 'San Francisco, CA',
 'Creve Coeur, MO',
 'Burbank, CA',
 'Cedar Rapids, IA',
 'Alameda, CA',
 'Dayton, OH',
 'Maryland',
 'Alameda, CA',
 'Austin, TX',
 'Reston, VA',
 'Owensboro, KY',
 'Ithaca, NY',
 'San Francisco, CA',
 'Burlington, MA',
 'Gaithersburg, MD',
 'Cambridge, MA',
 'Pittsburgh, PA',
 'Collegeville, PA',
 'Mountain View, CA',
 'Dallas, TX',
 'Maryland',
 'Austin, TX',
 'Reston, VA',
 'Owensboro, KY',
 'Ithaca, NY',
 'San Francisco, CA',
 'Burlington, MA',
 'Gaithersburg, MD',
 'Pittsburgh, PA',
 'Winston-Salem, NC',
 'Collegeville, PA',
 'Chicago, IL',
 'New York, NY',
 'Westlake, OH',
 'Cambridge, MA',
 'Nashville, TN',
 'Creve Coeur, MO',
 'San Francisco, CA',
 'Waltham, MA',
 'Des Moines, IA',
 'Saint Louis, MO',
 'Winston-Salem, NC',
 'Seattle, WA',
 'New York, NY',
 'San Francisco, CA',
 'New York, NY',
 'Glen Burnie, MD',
 'Seattle, WA',
 'Bedford, MA',
 'Philadelphia, PA',
 'Seattle, WA',
 'Philadelphia, PA',
 'New York, NY',
 'San Francisco, CA',
 'San Francisco, CA',
 'Charlottesville, VA',
 'New York, NY',
 'Springfield, MA',
 'Allentown, PA',
 'Santa Barbara, CA',
 'Santa Clara, CA',
 'San Francisco, CA',
 'New York, NY',
 'Orlando, FL',
 'Rockville, MD',
 'Austin, TX',
 'New York, NY',
 'Atlanta, GA',
 'San Francisco, CA',
 'Indianapolis, IN',
 'San Ramon, CA',
 'San Diego, CA',
 'Ann Arbor, MI',
 'Torrance, CA',
 'Burlington, MA',
 'San Francisco, CA',
 'Durham, NC',
 'Chicago, IL',
 'Springfield, VA',
 'Jersey City, NJ',
 'Atlanta, GA',
 'New York, NY',
 'Fort Lauderdale, FL',
 'Saint Louis, MO',
 'Brisbane, CA',
 'New York, NY',
 'San Francisco, CA',
 'Bedford, MA',
 'Seattle, WA',
 'Mountain View, CA',
 'Laurel, MD',
 'Phoenix, AZ',
 'Phoenix, AZ',
 'San Francisco, CA',
 'Oakland, CA',
 'Saint Louis, MO',
 'Newton, MA',
 'San Francisco, CA',
 'Ithaca, NY',
 'San Francisco, CA',
 'Burbank, CA',
 'San Francisco, CA',
 'Phoenix, AZ',
 'Highland, CA',
 'Waltham, MA',
 'San Antonio, TX',
 'Springfield, VA',
 'Herndon, VA',
 'Santa Clara, CA',
 'New York, NY',
 'New York, NY',
 'Alexandria, VA',
 'New York, NY',
 'Mountain View, CA',
 'Santa Clara, CA',
 'Albuquerque, NM',
 'San Francisco, CA',
 'Chicago, IL',
 'Oakland, CA',
 'Gaithersburg, MD',
 'New York, NY',
 'Denver, CO',
 'Wellesley, MA',
 'New York, NY',
 'Merrifield, VA',
 'Washington, DC',
 'Honolulu, HI',
 'San Francisco, CA',
 'Remote',
 'San Francisco, CA',
 'Waltham, MA',
 'Sunnyvale, CA',
 'Bristol, CT',
 'San Francisco, CA',
 'San Carlos, CA',
 'Edison, NJ',
 'Denver, CO',
 'Arlington, VA',
 'Beavercreek, OH',
 'Palo Alto, CA',
 'Alpharetta, GA',
 'Phoenix, AZ',
 'Louisville, KY',
 'Renton, WA',
 'San Mateo, CA',
 'Boston, MA',
 'Bellevue, WA',
 'New York, NY',
 'Chicago, IL',
 'Waltham, MA',
 'Beavercreek, OH',
 'New York, NY',
 'Durham, NC',
 'Richland, WA',
 'San Francisco, CA',
 'Clovis, CA',
 'Seattle, WA',
 'Boston, MA',
 'Fort Lee, NJ',
 'Cambridge, MA',
 'San Antonio, TX',
 'Mclean, VA',
 'Schaumburg, IL',
 'Philadelphia, PA',
 'South San Francisco, CA',
 'Dallas, TX',
 'Seattle, WA',
 'Cambridge, MA',
 'Menlo Park, CA',
 'South San Francisco, CA',
 'Los Angeles, CA',
 'Herndon, VA',
 'South San Francisco, CA',
 'Boston, MA',
 'San Jose, CA',
 'Boston, MA',
 'South San Francisco, CA',
 'Herndon, VA',
 'Armonk, NY',
 'Boston, MA',
 'Springfield, VA',
 'Creve Coeur, MO',
 'Salt Lake City, UT',
 'Cambridge, MA',
 'Burbank, CA',
 'Mountain View, CA',
 'Cedar Rapids, IA',
 'San Jose, CA',
 'Dayton, OH',
 'Alameda, CA',
 'Crystal City, VA',
 'Maryland',
 'Austin, TX',
 'Alameda, CA',
 'Nashville, TN',
 'Chicago, IL',
 'Cambridge, MA',
 'Los Angeles, CA',
 'Reston, VA',
 'Crystal City, VA',
 'Ithaca, NY',
 'Madison, WI',
 'Owensboro, KY',
 'Mountain View, CA',
 'Burlington, MA',
 'San Francisco, CA',
 'San Francisco, CA',
 'Dallas, TX',
 'Milpitas, CA',
 'San Francisco, CA',
 'Arvada, CO',
 'Charlottesville, VA',
 'Bellevue, WA',
 'Columbia, MO',
 'Cambridge, MA',
 'Johns Creek, GA',
 'San Francisco, CA',
 'Cambridge, MA',
 'Cambridge, MA',
 'Gaithersburg, MD',
 'Mclean, VA',
 'Pittsburgh, PA',
 'Cambridge, MA',
 'Washington, DC',
 'Cambridge, MA',
 'Collegeville, PA',
 'Cambridge, MA',
 'Gaithersburg, MD',
 'Waltham, MA',
 'Winston-Salem, NC',
 'Los Angeles, CA',
 'Chicago, IL',
 'Bothell, WA',
 'Jersey City, NJ',
 'Chicago, IL',
 'San Carlos, CA',
 'New York, NY',
 'Gaithersburg, MD',
 'Westlake, OH',
 'Duarte, CA',
 'Cambridge, MA',
 'Chicago, IL',
 'Atlanta, GA',
 'New Jersey',
 'Clovis, CA',
 'Seattle, WA',
 'Boston, MA',
 'Fort Lee, NJ',
 'San Antonio, TX',
 'Cambridge, MA',
 'Boston, MA',
 'Schaumburg, IL',
 'Philadelphia, PA',
 'South San Francisco, CA',
 'Seattle, WA',
 'Dallas, TX',
 'South San Francisco, CA',
 'Cambridge, MA',
 'Boston, MA',
 'South San Francisco, CA',
 'Cambridge, MA',
 'Boston, MA',
 'Fountain Valley, CA',
 'Millville, DE',
 'New York, NY',
 'San Francisco, CA',
 'Creve Coeur, MO',
 'Springfield, VA',
 'Cedar Rapids, IA',
 'Burbank, CA',
 'Maryland',
 'Alameda, CA',
 'Austin, TX',
 'Alameda, CA',
 'San Francisco, CA',
 'Atlanta, GA',
 'Reston, VA',
 'Austin, TX',
 'Ithaca, NY',
 'Mountain View, CA',
 'Burlington, MA',
 'Owensboro, KY',
 'San Francisco, CA',
 'San Francisco, CA',
 'Scottsdale, AZ',
 'San Francisco, CA',
 'Cambridge, MA',
 'Johns Creek, GA',
 'Pittsburgh, PA',
 'Gaithersburg, MD',
 'Cambridge, MA',
 'Collegeville, PA',
 'Chicago, IL',
 'Winston-Salem, NC',
 'Westlake, OH',
 'New York, NY',
 'Fremont, CA',
 'Cambridge, MA',
 'Creve Coeur, MO',
 'South San Francisco, CA',
 'Nashville, TN',
 'Waltham, MA',
 'San Francisco, CA',
 'Des Moines, IA',
 'Saint Louis, MO',
 'Roanoke, VA',
 'Remote',
 'Hill Afb, UT',
 'Winston-Salem, NC',
 'Alameda, CA',
 'Seattle, WA',
 'Des Moines, IA',
 'New York, NY',
 'San Francisco, CA',
 'San Francisco, CA',
 'South San Francisco, CA',
 'Glen Burnie, MD',
 'Seattle, WA',
 'New York, NY',
 'Philadelphia, PA',
 'Bedford, MA',
 'Waltham, MA',
 'Cambridge, MA',
 'Creve Coeur, MO',
 'Huntsville, AL',
 'South San Francisco, CA',
 'Cambridge, MA',
 'Boston, MA',
 'Los Angeles, CA',
 'Rockville, MD',
 'Watertown, MA',
 'Austin, TX',
 'Cambridge, MA',
 'Redlands, CA',
 'Waltham, MA',
 'San Antonio, TX',
 'Reston, VA',
 'Seattle, WA',
 'Laurel, MD',
 'Chantilly, VA',
 'New York, NY',
 'Georgia Southern, GA',
 'Richland, WA',
 'New York, NY',
 'King Of Prussia, PA',
 'New York, NY',
 'New York, NY',
 'New York, NY',
 'Palo Alto, CA',
 'Silver Spring, MD',
 'Amsterdam, NY',
 'Chicago, IL',
 'New York, NY',
 'Fort Belvoir, VA',
 'New York, NY',
 'Rockville, MD',
 'Phoenix, AZ',
 'San Jose, CA',
 'Marietta, GA',
 'Mclean, VA',
 'Durham, NC',
 'Mooresville, NC',
 'San Jose, CA',
 'Washington, DC',
 'New York, NY',
 'New York, NY',
 'San Francisco, CA',
 'New York, NY',
 'Logan, UT',
 'Washington, DC',
 'Cambridge, MA',
 'Pittsburgh, PA',
 'Owensboro, KY',
 'Waltham, MA',
 'Gaithersburg, MD',
 'Burlington, MA',
 'San Francisco, CA',
 'Gaithersburg, MD',
 'Encinitas, CA',
 'Dallas, TX',
 'San Francisco, CA',
 'Milpitas, CA',
 'Albany, NY',
 'San Francisco, CA',
 'Bellevue, WA',
 'Cambridge, MA',
 'United States',
 'San Francisco, CA',
 'Columbia, MO',
 'Johns Creek, GA',
 'Cambridge, MA',
 'Cambridge, MA',
 'Cambridge, MA',
 'Gaithersburg, MD',
 'Cambridge, MA',
 'Pittsburgh, PA',
 'Mclean, VA',
 'Cambridge, MA',
 'Cambridge, MA',
 'Waltham, MA',
 'Cambridge, MA',
 'Cambridge, MA',
 'San Diego, CA',
 'Chicago, IL',
 'Alameda, CA',
 'Crystal City, VA',
 'Maryland',
 'Alameda, CA',
 'San Carlos, CA',
 'Mclean, VA',
 'Austin, TX',
 'Tarrytown, NY',
 'Chicago, IL',
 'Englewood, CO',
 'Waltham, MA',
 'Seattle, WA',
 'Cambridge, MA',
 'Reston, VA',
 'Birmingham, AL',
 'Crystal City, VA',
 'Ithaca, NY',
 'Owensboro, KY',
 'Gaithersburg, MD',
 'Waltham, MA',
 'Gaithersburg, MD',
 'Tarrytown, NY',
 'Encinitas, CA',
 'San Francisco, CA',
 'Dallas, TX',
 'South San Francisco, CA',
 'San Francisco, CA',
 'Cambridge, MA',
 'Columbia, MO',
 'Johns Creek, GA',
 'San Jose, CA',
 'Michigan',
 'Cincinnati, OH',
 'Long Beach, CA',
 'Chicago, IL',
 'Fort Meade, MD',
 'Marlborough, MA',
 'Indianapolis, IN',
 'Franklin, TN',
 'Cambridge, MA',
 'Charlotte, NC',
 'Durham, NC',
 'Cambridge, MA',
 'Laurel, MD',
 'Houston, TX',
 'Irvine, CA',
 'Austin, TX',
 'Denver, CO',
 'Chantilly, VA',
 'Boston, MA',
 'Carlsbad, CA',
 'New York, NY',
 'Seattle, WA',
 'Piscataway, NJ',
 'San Francisco, CA',
 'Springfield, VA',
 'San Francisco, CA',
 'South San Francisco, CA',
 'Thousand Oaks, CA',
 'New York, NY',
 'Chicago, IL',
 'Atlanta, GA',
 'New York, NY',
 'New York, NY',
 'New York, NY',
 'Lyndhurst, NJ',
 'New York, NY',
 'New York, NY',
 'New York, NY',
 'New York, NY',
 'New York, NY',
 'New York, NY',
 'New York, NY',
 'New York, NY',
 'New York, NY',
 'New York, NY',
 'New York, NY',
 'New York, NY',
 'Brooklyn, NY',
 'New York, NY',
 'New York, NY',
 'New York, NY',
 'New York, NY',
 'New York, NY',
 'New York, NY',
 'New York, NY',
 'New York, NY',
 'New York, NY',
 'New York, NY',
 'New York, NY',
 'New York, NY',
 'New York, NY',
 'New York, NY',
 'New York, NY',
 'New York, NY',
 'New York, NY',
 'New York, NY',
 'New York, NY',
 'New York, NY',
 'New York, NY',
 'New York, NY',
 'New York, NY',
 'New York, NY',
 'New York, NY',
 ...]

In [97]:
def Country(arg):
    partes = arg.split(', ')
    for parte in partes:
        if len(parte) == 2 and parte.isalpha():
            return parte
    return 'arg'


dflocation = df['Location'].unique()
resultados = [Country(i) for i in dflocation]
resultados_series = pd.Series(resultados).unique()
df_resultados = pd.DataFrame(resultados_series, columns=['States'])

df_resultados

   States
0      MD
1      OR
2      FL
3      NY
4      WA
5      CA
6      MN
7      NJ
8      IL
9      TX
10     MA
11     VA
12    arg
13     CO
14     MI
15     OH
16     PA
17     NM
18     CT
19     NC
20     MO
21     NE
22     GA
23     UT
24     AL
25     IN
26     LA
27     WI
28     ME
29     AZ
30     MT
31     DC
32     TN
33     DE
34     RI
35     KY
36     AK
37     ID
38     IA
39     KS
40     HI
41     SC
42     PR
43     NH
44     NV
45     WY
46     ND
47     VT
48     MS
49     WV
50     AR
51     il
52     mo
53     OK
54     SD

In [11]:
# Gerando a classe do dataframe que utilizaremos no projeto
class Science:
    def __init__(self, name, company, location, description, salary):
        self.name = name
        self.company = company
        self.location = location
        self.description = description
        self.salary = salary
    
    @staticmethod
    def showById(lst, idx):
        if 0 <= idx < len(lst):
            print(f'Recuperado da lista o objeto de id: {idx}')
            item = lst[idx]
            print(f"Name: {item.name}," +
                  f"\nCompany: {item.company}," +
                  f"\nLocation: {item.location}," +
                  f"\nDescription: {item.description}," +
                  f"\nSalary: {item.salary}")
        else:
            print(f"O index informado ({idx}) não existe, por favor, selecione algo entre 0 e {len(lst)-1}.")

    @staticmethod
    def showAll(lst, top = None):
        if top is not None:
            print(f'Mostrando o(s) {top} primeiro(s) registro(s).')
            lst = lst[:top]
            
        for idx, item in enumerate(lst):
            print(f"ID: {idx}, Name: {item.name}, Company: {item.company}, Location: {item.location}, Description: {item.description}, Salary: {item.salary}")

list_science = [Science(row['Name'], row['Company'], row['Location'], row['Description'], row['Salary']) for index, row in df.iterrows()]

Science.showById(list_science, 20000)
Science.showAll(list_science, 2)

O index informado (20000) não existe, por favor, selecione algo entre 0 e 14818.
Mostrando o(s) 2 primeiro(s) registro(s).
ID: 0, Name: data scientist, Company: tantus technologies, inc., Location: woodlawn, md, Description: tantus technologies, inc, tantus, - recognized by the washington post as a top workplace - is seeking a data scientist with focus on artifical intellenge, machine learning, nlp and federal government healthcare space to help tantus build solutions for our customers that enable them to extract value from their data. drive the development of ai, ml, nlp solutions for tantus emerging technologies teamassist the team in identifying, building and optimizing machine learning algorithms and models, annotations, entity recognition and custom classifier models, assist with defining and driving ai strategiesbachelor’s or master’s degree in data science or artificial intelligence and machine learning, strongly preferred, ; bachelor’s or master’s degree in applied mathematics or computer scienceoverall experience for 3-5 years in the ai, ml, nlp domainhands on experience developing supervised modelshands on experience in at least one of the programming languages – python, r, java or chands on experience in working with databasesexposure to cloud technologies and general knowledge of at least one cloud platform provider, aws, azure or google, good communication skillsexperience in mlopsexperience in working with ml tools such as aws comprehend, sagemaker, google muppetsuite, Salary: 137500.0
ID: 1, Name: data scientist, Company: rogue credit union, Location: medford, or, Description: department: business intelligence and enterprise risk management. reports to:vice president of enterprise insights. grade:15classification: exempt. supervises direct: 0supervises indirect:0. role. this position is responsible for aiding operational areas of the organization leveraging both internal and external data assets to achieve business insights, gain deeper understanding of member needs, and enhance tactical and strategic decision making. essential functionsand responsibilities. 35% uncover and operationalize underlying structure and relationships within the data utilizing supervised and unsupervised machine learning techniques. develop models, processes, and structures necessary to support analytic needs of rogue credit union using machine learning in latest generation languages. work with vice president of enterprise insights and other staff to implement various analytical models, anything from churn, future value, or recommender systems. build small reporting layer on top of analytical models to ensure accountability and insight into models outcomes and impact. able to pilot and build poc’s to demonstrate and test business value of model. extracts operational, performance, statistical and other data from various information systems. 30% educate and demystify analytical models to business users. develop presentations and trainings for business users to increase understanding of statistics and implementation of models. maintain department as the competency center for analytics within rogue credit union. 30% works closely with vice president of enterprise insights to interpret report results. analyze, interpret, and summarize analytical model’s results. participates in the interpretation and context of complex business reports. runs what-if simulations based on varying factors and assumptions. identifies exceptions, positive and negative trends and measures that are out of tolerance with established limits and ranges. identifies potential concerns based on projections of current trends. performs statistical and financial analysis of data. 5% proactively performs other duties as needed or assigned. performance measurements. supports and practices rogues vision, mission, values, and loyalty culture. utilizes the service promises with both internal and external members. embraces rogues community involvement program in a positive and proactive manner. collaborates with other team members of formal and informal groups in the pursuit of rogue’s mission, vision, and guiding values. demonstrates empathy, self-reflection, and adjustment of own behaviors, displaying effective emotional intelligence. places team needs and priorities above personal needs. draws on the strengths of colleagues and gives credit to others contributions and achievements. adept with using large data sets to find opportunities for product and process optimization and models to test the effectiveness of different courses of action with a a proven ability to drive business results with databased insights. identifies and acts upon opportunities for continuous improvement. encourages prudent risk-taking, exploration of alternative approaches, and organizational learning. demonstrates personal commitment to change through actions and words. supports others in embracing change through times of stress and uncertainty. translates up to date information into continuous improvement activities that enhances performance. gathers and analyzes information or data on current and future trends of best practice. seeks information on issues impacting the progress of organizational and process issues. demonstrates excellent time management skills with the ability to work independently. prioritizes daily tasks and workflow and is able to multi-task. completes department and individual job-related goals on time and with quality results. assists in meeting credit union goals and objectives. knowledge and skills. experience:three years to five years of similar or related experience in designing, developing, and implementing data science solutions. understanding of the financial services industry desired. education: masters of science in information technology, computer science, statistics, or related degree preferred. equivalent to a college degree and a professional certificate or a graduate degree. bachelors of science degree in information technology, computer science, statistics, or related business degree with equivalent experience of 3 years. interpersonal skills:the ability to motivate or influence others is a material part of the job, requiring a significant level of diplomacy and trust. obtaining cooperation, internally and, or externally, is an important part of the job and a high level of interpersonal skills are critical to the success of this position. work frequently involves contacts requiring considerable discussion of problems, material presentations, and resolving issues impacting departments or divisions. other skills:prior experience developing business analytical solutions in large or midsize companies with the ability to manage multiple tasks simultaneously and react to problems quickly. must have programming experience with 4th generation and 3rd generation computer languages such as python and r, development experience with relational database structures, multi-dimensional database, and data warehouse design architecture, as well as experience with dashboard design and delivery. must possess strong sql abilities. experience with data mining models and ensemble model approaches or techniques. experience with both oracle and microsoft desired. must be highly productive, self-managed, resourceful, and dependable. should possess a strong eye for detail and accuracy, strong research, strategic, and critical thinking ability. must have excellent verbal and written communication skills and the ability to motivate or influence others using diplomacy and good judgment. physical requirements: some lifting required, up to 30 pounds, continuous sitting, occasional standing and occasional walking. finger dexterity while using computer. occasional talking and hearing in person and on the telephone. continuous clarity of vision at 20 inches or less and continuous clarity of vision at 20 feet or more. work environment:this job is an exempt position that requires flexibility in scheduling tasks and projects. the employee must independently monitor hours and judge the time needed to be spent on applicable duties. employee must be capable of adjusting to unpredictable schedules proactively. as a direct representative of the credit union, the employee must conduct and present themselves courteously and professionally. exposed to potentially hazardous conditions, i. e, robbery. travel to all credit union regions may be required. disclaimer. job descriptions are not intended, and should not be construed to be exhaustive lists of all responsibilities, skills, efforts, or working conditions associated with a job. they are intended to be accurate reflections of those principal job elements essential for making fair pay decisions about jobs. note: rogue credit union is a drug free workplace and requires a drug screening test within 48 hours of employment offer. rogue credit union is an equal opportunity employer and makes employment decisions without regard to race, color, national origin, religion, sex, age, disability, veteran status, or any other protected class. if you are an individual with a disability and require a reasonable accommodation to complete any part of the application process, or are limited in the ability or unable to access or use this online application process and need an alternative method, please call, 541, 622-7577 or email cnunez@roguecu. org. this job description is not a complete statement of all duties and responsibilities comprising the position., Salary: nan