In [314]:
# Utilizando sistema de gerenciador de pacotes.
# Todos os pacotes utilizados na aplicação, é listado no arquivo 'requirements.txt'.
# É obrigatório a execução desta bloco de código antes de executar os demais blocos de códigos.
%pip install -r requirements.txt

Note: you may need to restart the kernel to use updated packages.Requirement already satisfied: pandas==2.1.3 in c:\users\tcast\appdata\local\programs\python\python311\lib\site-packages (from -r requirements.txt (line 1)) (2.1.3)
Requirement already satisfied: matplotlib==3.8.1 in c:\users\tcast\appdata\local\programs\python\python311\lib\site-packages (from -r requirements.txt (line 2)) (3.8.1)
Requirement already satisfied: seaborn==0.13.0 in c:\users\tcast\appdata\local\programs\python\python311\lib\site-packages (from -r requirements.txt (line 3)) (0.13.0)
Requirement already satisfied: numpy==1.26.2 in c:\users\tcast\appdata\local\programs\python\python311\lib\site-packages (from -r requirements.txt (line 4)) (1.26.2)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\tcast\appdata\local\programs\python\python311\lib\site-packages (from pandas==2.1.3->-r requirements.txt (line 1)) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\tcast\appdata\local\programs\python\python311\lib\site-packages (from pandas==2.1.3->-r requirements.txt (line 1)) (2023.3)
Requirement already satisfied: tzdata>=2022.1 in c:\users\tcast\appdata\local\programs\python\python311\lib\site-packages (from pandas==2.1.3->-r requirements.txt (line 1)) (2023.3)
Requirement already satisfied: contourpy>=1.0.1 in c:\users\tcast\appdata\local\programs\python\python311\lib\site-packages (from matplotlib==3.8.1->-r requirements.txt (line 2)) (1.2.0)
Requirement already satisfied: cycler>=0.10 in c:\users\tcast\appdata\local\programs\python\python311\lib\site-packages (from matplotlib==3.8.1->-r requirements.txt (line 2)) (0.12.1)
Requirement already satisfied: fonttools>=4.22.0 in c:\users\tcast\appdata\local\programs\python\python311\lib\site-packages (from matplotlib==3.8.1->-r requirements.txt (line 2)) (4.44.3)
Requirement already satisfied: kiwisolver>=1.3.1 in c:\users\tcast\appdata\local\programs\python\python311\lib\site-packages (from matplotlib==3.8.1->-r requirements.txt (line 2)) (1.4.5)
Requirement already satisfied: packaging>=20.0 in c:\users\tcast\appdata\roaming\python\python311\site-packages (from matplotlib==3.8.1->-r requirements.txt (line 2)) (23.1)
Requirement already satisfied: pillow>=8 in c:\users\tcast\appdata\local\programs\python\python311\lib\site-packages (from matplotlib==3.8.1->-r requirements.txt (line 2)) (10.1.0)
Requirement already satisfied: pyparsing>=2.3.1 in c:\users\tcast\appdata\local\programs\python\python311\lib\site-packages (from matplotlib==3.8.1->-r requirements.txt (line 2)) (3.1.1)
Requirement already satisfied: six>=1.5 in c:\users\tcast\appdata\local\programs\python\python311\lib\site-packages (from python-dateutil>=2.8.2->pandas==2.1.3->-r requirements.txt (line 1)) (1.16.0)

[notice] A new release of pip available: 22.3.1 -> 23.3.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [315]:
# Importando as bibliotecas necessárias.
import pandas as pd
import matplotlib as plot
import seaborn as sbn
import numpy as np

In [316]:
# Atribuindo a variável 'principal' o arquivo .csv para tratabilidade
df = pd.read_csv(r'00_dataset\cleaned_data.csv', sep=',', encoding='utf-8')
df.head()

,Unnamed: 0,Name,Company,Location,Description,preprocessed_salary
0,0,data scientist,"tantus technologies, inc.","woodlawn, md","tantus technologies, inc, tantus, - recognized...",137500.0
1,1,data scientist,rogue credit union,"medford, or",department: business intelligence and enterpri...,NaN
2,2,data scientist,knowbe4,"clearwater, fl",we are ranked 1 best place to work in technolo...,85000.0
3,3,data scientist,affinity solutions,"new york, ny","data scientistaffinity solutions, marketing cl...",114500.0
4,4,data scientist,pnnl,"richland, wa",. *organization and job id. *job description. ...,76500.0

In [317]:
# Renomeando as colunas para uma melhor visualização
df.columns = ['ID', 'Name', 'Company', 'Location', 'Description', 'Salary']
df.head()

,ID,Name,Company,Location,Description,Salary
0,0,data scientist,"tantus technologies, inc.","woodlawn, md","tantus technologies, inc, tantus, - recognized...",137500.0
1,1,data scientist,rogue credit union,"medford, or",department: business intelligence and enterpri...,NaN
2,2,data scientist,knowbe4,"clearwater, fl",we are ranked 1 best place to work in technolo...,85000.0
3,3,data scientist,affinity solutions,"new york, ny","data scientistaffinity solutions, marketing cl...",114500.0
4,4,data scientist,pnnl,"richland, wa",. *organization and job id. *job description. ...,76500.0

In [318]:
# Verificado que a coluna em questão está para contagem de linhas, a mesma foi retirada do dataframe
df.drop(['ID'], axis=1, inplace=True)
df.head()

,Name,Company,Location,Description,Salary
0,data scientist,"tantus technologies, inc.","woodlawn, md","tantus technologies, inc, tantus, - recognized...",137500.0
1,data scientist,rogue credit union,"medford, or",department: business intelligence and enterpri...,NaN
2,data scientist,knowbe4,"clearwater, fl",we are ranked 1 best place to work in technolo...,85000.0
3,data scientist,affinity solutions,"new york, ny","data scientistaffinity solutions, marketing cl...",114500.0
4,data scientist,pnnl,"richland, wa",. *organization and job id. *job description. ...,76500.0

In [319]:
# Chamando a coluna Salary para visualização dos dados em questão
df['Salary'].count()

2277

In [320]:
# Fazendo a contagem de quantos NaN conta dentro da coluna 'Salary'
df['Salary'].isna().sum()

12542

In [321]:
# Atribuindo 0 aos valores ausentes na coluna 'Salary'
df['Salary'] = df['Salary'].fillna(0, inplace=False)
df.head()

,Name,Company,Location,Description,Salary
0,data scientist,"tantus technologies, inc.","woodlawn, md","tantus technologies, inc, tantus, - recognized...",137500.0
1,data scientist,rogue credit union,"medford, or",department: business intelligence and enterpri...,0.0
2,data scientist,knowbe4,"clearwater, fl",we are ranked 1 best place to work in technolo...,85000.0
3,data scientist,affinity solutions,"new york, ny","data scientistaffinity solutions, marketing cl...",114500.0
4,data scientist,pnnl,"richland, wa",. *organization and job id. *job description. ...,76500.0

In [322]:
# Configuração para mostrar o conteúdo completo da coluna
pd.set_option('display.max_colwidth', None)

In [323]:
# Resetar para o tamanho padrão (50)
pd.reset_option('display.max_colwidth')

In [324]:
# Função para tratar uma string dividida por vírgulas
def tratar_string(arg):
    partes = arg.split(',')
    
    if len(partes) == 1:   # Se houver apenas uma parte, converte para título (primeira letra de cada palavra maiúscula)
        return partes[0].title()
    elif len(partes) == 2: # Se houver duas partes, converte a primeira para título e a segunda para maiúsculas (removendo espaços em branco desnecessários)
        return f"{partes[0].title()}, {partes[1].strip().upper()}"
    elif len(partes) == 3: # Se houver três partes, converte a primeira para título, a segunda e a terceira para maiúsculas (removendo espaços em branco desnecessários)
        return f"{partes[0].title()}, {partes[1].strip().upper()}, {partes[2].strip().upper()}"
    else:                  # Se houver mais de três partes, retorna a string original
        return arg

# Converte as colunas 'Name' e 'Company' para o formato de título
df['Name'] = df['Name'].str.title()
df['Company'] = df['Company'].str.title()
df['Location'] = df['Location'].apply(tratar_string)  # Aplica a função tratar_string à coluna 'Location' do DataFrame

df.head()

,Name,Company,Location,Description,Salary
0,Data Scientist,"Tantus Technologies, Inc.","Woodlawn, MD","tantus technologies, inc, tantus, - recognized...",137500.0
1,Data Scientist,Rogue Credit Union,"Medford, OR",department: business intelligence and enterpri...,0.0
2,Data Scientist,Knowbe4,"Clearwater, FL",we are ranked 1 best place to work in technolo...,85000.0
3,Data Scientist,Affinity Solutions,"New York, NY","data scientistaffinity solutions, marketing cl...",114500.0
4,Data Scientist,Pnnl,"Richland, WA",. *organization and job id. *job description. ...,76500.0

In [325]:
# Definindo uma string padrão 'Scientist' para a variável defaultDataScientist
defaultDataScientist = 'Scientist'
# Definindo uma função chamada 'Job' que categoriza trabalhos com base em palavras-chave
def Job(arg):
    # Dicionário de categorias e suas palavras-chave associadas
    keywords = {
        'Data Scientist': ['scientist', 'science', 'sceintist'],
        'Data Analyst': ['analyst', 'analytics', 'analysis', 'anaylst', 'intelligence', 'model',
                         'big data', 'visual', 'verif', 'report', 'special', 'platf'],
        'Data Engineer': ['engineer'],
        'Machine Learning': ['machine learning'],
        'Data Architect': ['architect'],
        'Statistician': ['math', 'statis'],
        'App Developer': ['devel'],
        'Data Researcher': ['research'],
        'Biologist': ['biolo'],
        'Data Mining': ['mining'],
        'Consultant': ['consult'],
        'Data Manager': ['manage'],
        'Data Strategy': ['strat']
    }
    # Convertendo a entrada para minúsculas para tornar a comparação de palavras-chave case-insensitive
    arg_lower = arg.lower()
    # Iterando sobre as categorias e suas palavras-chave associadas
    for category, keywords_list in keywords.items():   
        if any(keyword in arg_lower for keyword in keywords_list): # Verificando se pelo menos uma palavra-chave está presente na entrada
            return category
    # Se nenhuma correspondência é encontrada, retorna 'Others'
    return 'Others'

dfName = df['Name'].unique()    # Obtendo valores únicos da coluna 'Name' do DataFrame df
resultados = [Job(i) for i in dfName]   # Aplicando a função Job para categorizar os nomes dos trabalhos e armazenando os resultados
resultados_series = pd.Series(resultados).unique()  # Obtendo valores únicos da série de resultados
df_resultados = pd.DataFrame(resultados_series, columns=['Names'])  # Criando um DataFrame com os resultados

df_resultados

               Names
0     Data Scientist
1      Data Engineer
2       Data Analyst
3             Others
4       Data Manager
5     Data Architect
6      App Developer
7          Biologist
8    Data Researcher
9         Consultant
10      Statistician
11     Data Strategy
12  Machine Learning
13       Data Mining

In [348]:
def get_state(location):
    state_mapping = {
        'Alabama, AL': ['alabama', 'huntsville', 'alabaster', 'birmingham', 'mobile', 'jefferson county', 'madison', 'montgomery'], 
        'Alaska, AK': ['alaska', 'anchorage'], 'Arizona, AZ': ['arizona', 'phoenix', 'tempe', 'scottsdale', 'chandler', 'gilbert',
        'mesa', 'dc ranch', 'luke afb'], 
        'Arkansas, AR': ['arkansas', 'rogers', 'little rock', 'bentonville', 'conway', 'mountain home'],
        'American Samoa, AS': ['american samoa'], 
        'California, CA': ['california', 'san jose', 'mountain view', 
        'san francisco', 'redlands', 'fremont', 'san diego', 'milpitas', 'palo alto', 'santa barbara', 'novato', 'santa fe springs',
        'los angeles', 'valencia', 'agoura hills', 'san rafael', 'concord', 'highland', 'burbank', 'carlsbad', 'scotts valley',
        'camarillo', 'irvine', 'woodland hills', 'redwood city', 'alameda', 'san ramon', 'monterey', 'fountain valley',
        'santa clara', 'torrance', 'brisbane', 'oakland', 'sunnyvale', 'san carlos', 'san mateo', 'clovis', 'menlo park', 'duarte',
        'encinitas', 'long beach', 'thousand oaks', 'universal city', 'anaheim', 'culver city', 'cerritos', 'santa monica', 'el segundo',
        'glendale', 'brea', 'westmont', 'pasadena', 'irwindale', 'calabasas', 'hermosa beach', 'whittier', 'northridge', 'marina del rey',
        'monaco', 'venice', 'sherman oaks', 'wilmington', 'monrovia', 'carson', 'seal beach', 'poway', 'la jolla', 'chula vista', 
        'national city', 'cupertino', 'union city', 'livermore', 'pleasanton', 'stanford', 'campbell', 'los gatos', 'los altos', 
        'parlier', 'pomona', 'orange', 'emeryville', 'foster city', 'aliso viejo', 'dublin', 'rancho cucamonga', 'costa mesa', 'lake forest',
        'west hollywood', 'walnut creek', 'vallejo', 'petaluma', 'sacramento', 'indio', 'jamul', 'columbia', 'gold river', 'century city',
        'sonoma', 'playa vista', 'santa cruz', 'seaside', 'redwood', 'temecula', 'rancho cordova', 'hollywood', 'ventura', 'roseville', 
        'newport beach', 'oxnard', 'fresno', 'malibu', 'davis', 'half moon bay', 'san bruno', 'san dimas', 'manhattan beach', 'ontario', 
        'diamond bar', 'silicon valley', 'santa ana', 'fullerton', 'elk grove', 'hawthorne', 'south berkeley', 'foothill ranch'], 
        'Colorado, CO': ['colorado', 'denver', 'longmont', 'boulder', 'aurora', 'arvada', 'englewood', 'vail', 'broomfield', 'westminster',
        'greenwood village', 'centennial', 'applewood', 'lone tree', 'loveland', 'lakewood', 'greeley', 'louisville', 'littleton',
        'lone tree', 'fort collins', 'loveland'],
        'Connecticut, CT': ['connecticut'], 'Delaware, DE': ['delaware'], 'District of Columbia, DC': ['district of columbia'],
        'Florida, FL': ['florida', 'clearwater', 'fort lauderdale', 'miami lakes', 'miami', 'tampa', 'winter park', 'melbourne', 'tallahassee',
        'orlando', 'jacksonville', 'gainesville', 'west palm', 'boca raton', 'pensacola', 'bradenton', 'ocala', 'delray', 'deerfield',
        'saint petersburg', 'juno', 'lake mary', 'plantation', 'fort myers', 'medley', 'lake nona', 'pinellas park', 'palm', 'jupiter',
        'coral gables', 'davie', 'lakeland', 'dania', 'st petersburg', 'daytona', 'key west'], 
        'Georgia, GA': ['georgia'], 'Guam, GU': ['guam'], 'Hawaii, HI': ['hawaii'], 'Idaho, ID': ['idaho'], 
        'Illinois, IL': ['illinois', 'chicago', 'kingdom', 'peoria', 'hoopeston', 'bloomington', 'schaumburg', 'evanston', 'melrose park',
        'lemont', 'rosemont', 'northbrook', 'elmhurst', 'downers grove', 'rolling meadows', 'naperville', 'maywood', 'oak brook',
        'des plaines', 'hines', 'evergreen park', 'bridgeview', 'libertyville', 'round lake', 'glenview', 'dekalb', 'time', 'glenview',
        'warrenville', 'scott afb', 'buffalo grove', 'champaign', 'westchester', 'mettawa', 'lake county', 'kankakee', 'campus', 'waukegan',
        'lake bluff', 'batavia', 'bradley'], 'Indiana, IN': ['indiana'], 'Iowa, IA': ['iowa'],
        'Kansas, KS': ['kansas'], 'Kentucky, KY': ['kentucky'], 'Louisiana, LA': ['louisiana'],
        'Maine, ME': ['maine'], 'Maryland, MD': ['maryland', 'woodlawn', 'linthicum heights', 'baltimore'], 
        'Massachusetts, MA': ['massachusetts', 'cambridge', 'worcester', 'ipswich', 'marlborough', 'boston', 'framingham', 'north reading',
        'woburn', 'springfield', 'quincy', 'newton', 'natick', 'burlington', 'waltham', 'wellesley', 'watertown', 'holyoke', 'lakeville',
        'beverly', 'hanscom afb', 'stoughton', 'mansfield', 'newburyport', 'lynn', 'hingham', 'norwell', 'foxborough', 'attleboro',
        'roxbury', 'arlington', 'wilbraham', 'wakefield', 'southborough', 'somerville', 'northborough', 'rockland', 'billerica', 'westborough',
        'needham'],
        'Michigan, MI': ['michigan'], 'Minnesota, MN': ['minnesota', 'apple valley'], 'Mississippi, MS': ['mississippi'],
        'Missouri, MO': ['missouri'], 'Montana, MT': ['montana'], 'Nebraska, NE': ['nebraska'],
        'Nevada, NV': ['nevada'], 'New Hampshire, NH': ['new hampshire'], 'New Jersey, NJ': ['new jersey', 'fort lee', 'newark'],
        'New Mexico, NM': ['new mexino'], 'New York, NY': ['new york', 'new hyde park,'], 'North Carolina, NC': ['north carolina'],
        'North Dakota, ND': ['north dakota'], 'Northern Mariana Islands, MP': ['northern mariana islands'],
        'Ohio, OH': ['ohio', 'bedford', 'brunswick', 'mentor', 'oincinnati', 'richfield', 'dayton', 'beavercreek', 'columbus', 'gahanna',
        'cincinnati', 'westlake', 'west jefferson, oh', 'westerville', 'lockbourne', 'slough', 'blacklick', 'hilliard', 'norwalk', 'brooklyn, oh',
        'cleveland', 'mayfield', 'valley view', 'mason', 'north canton', 'grove city', 'marysville, oh', 'piketon', 'colerain',
        'wright-patterson afb', 'fairfield', 'wickliffe', 'findlay', 'west chester, oh', 'athens', 'akron', 'franklin', 'ironton', 'toledo'], 
        'Oklahoma, OK': ['oklahoma'], 'Oregon, OR': ['oregon', 'medford'], 
        'Pennsylvania, PA': ['Pennsylvania', 'philadelphia', 'coraopolis', 'pittsburgh', 'harrisburg', 'phila', 'collegeville', 'west reading',
        'king of prussia', 'newtown', 'blue bell', 'exton', 'valley forge', 'bala cynwyd', 'conshohocken', 'west chester', 'wayne', 'horsham',
        'boothwyn', 'bensalem', 'feasterville trevose', 'malvern', 'paoli', 'allegheny west', 'radnor', 'plymouth meeting', 'bristol', 'doylestown',
        'chester township', 'ridley park', 'west point', 'warminster', 'media', 'berwyn', 'norristown', 'north wales', 'oaks', 'audubon', 'trevose',
        'clearfield', 'flourtown', 'annville', 'warrendale', 'alburtis', 'ambler', 'bala-cynwyd', 'irwin', 'chester', 'etters', 'hershey', 'wexford',
        'mechanicsburg', 'state college', 'allison park', 'ivyland', 'langhorne', 'catawissa', 'elizabethtown', 'bryn mawr', 'danville', 'canonsburg'],
        'Puerto Rico, PR': ['puerto rico'], 'Rhode Island, RI': ['rhode island'], 'South Carolina, SC': ['southc carolina'],
        'South Dakota, SD': ['south dakota'], 'Tennessee, TN': ['tennessee'], 
        'Texas, TX': ['texas', 'dallas', 'plano', 'austin', 'houston', 'fort worth', 'burleson', 'irving', 'san antonio', 'alvin', 'stafford',
        'pearland', 'spring', 'sugar land', 'webster', 'baytown', 'nassau bay', 'west university place', 'bellaire', 'schertz', 'lackland afb',
        'allen', 'richardson', 'grapevine', 'grand prairie', 'addison', 'lewisville', 'coppell', 'farmers branch', 'carrollton', 'southlake',
        'round rock', 'west lake hills', 'cedar park', 'kyle', 'frisco', 'el paso', 'lufkin', 'garland', 'la porte', 'abilene', 'college station',
        'georgetown', 'italy', 'belton', 'laredo', 'forney', 'canyon'],
        'Trust Territories, TT': ['trust territories'], 'Utah, UT': ['utah'], 'Vermont, VT': ['vermont'],
        'Virginia, VA': ['virginia'], 'Virgin Islands, VI': ['virgin islands'], 'Washington, WA': ['washington', 'richland', 'seattle'],
        'West Virginia, WV': ['west virginia'], 'Wisconsin, WI': ['wisconsin'], 'Wyoming, WY': ['wyoming']
    }

    location_lower = location.lower()
    for state, keywords_list in state_mapping.items():
        if any(keyword in location_lower for keyword in keywords_list):
            return state
    return location


df_locations = df['Location'].unique()
resultados = [get_state(location) for location in df_locations]
resultados_series = pd.Series(resultados).unique()
df_resultados = pd.DataFrame(resultados_series, columns=['States'])

df_resultados
pd.set_option('display.max_rows', None)
print(df_resultados)

                                                States
0                                         Maryland, MD
1                                           Oregon, OR
2                                          Florida, FL
3                                         New York, NY
4                                       Washington, WA
5                                       California, CA
6                                        Minnesota, MN
7                                       New Jersey, NJ
8                                         Illinois, IL
9                                            Texas, TX
10                                   Massachusetts, MA
11                                       Chantilly, VA
12                                             Toronto
13                                        Colorado, CO
14                                            Montreal
15                                         Herndon, VA
16                                         Detroit, MI
17                                            Ohio, OH
18                                    Pennsylvania, PA
19                                     Albuquerque, NM
20                                          Mclean, VA
21                                       Ann Arbor, MI
22                                          Groton, CT
23                                       Charlotte, NC
24                                          Armonk, NY
25                                        Bellevue, WA
26                                     Saint Louis, MO
27                                           Omaha, NE
28                                         Atlanta, GA
29                                        Hill Afb, UT
30                                          Laurel, MD
31                                              Remote
32                                         Alabama, AL
33                                          Ithaca, NY
34                                         Atlanta, IN
35                                         Indiana, IN
36                                          Vienna, VA
37                                          Tacoma, WA
38                                     New Orleans, LA
39                                        Suitland, MD
40                                         Ashburn, VA
41                                       Milwaukee, WI
42                                        Syracuse, NY
43                             Cumberland Foreside, ME
44                                       Vancouver, WA
45                                          Reston, VA
46                                        Richmond, VA
47                                      Southfield, MI
48                                    Fort Belvoir, VA
49                                         Arizona, AZ
50                                       Lyndhurst, NJ
51                                        Landover, MD
52                                        Virginia, VA
53                                     Great Falls, MT
54                                     Minneapolis, MN
55                                        Bethesda, MD
56                                     Chattanooga, TN
57                                       Nashville, TN
58                                       Rockville, MD
59                                           Lewes, DE
60                                      Providence, RI
61                                        Santa Fe, NM
62                                       Frederick, MD
63                              Annapolis Junction, MD
64                                     Woodinville, WA
65                                        Hamilton, NJ
66                                     Mount Olive, NJ
67                                      Alexandria, VA
68                                        Dearborn, MI
69                                       Lafayette, LA
70                                          Durham, NC
71                                       Owensboro, KY
72                                         Georgia, GA
73                                        Marietta, GA
74                                  Salt Lake City, UT
75                                         Hampton, VA
76                                      Portsmouth, VA
77                                         Lincoln, NE
78                                         Hoboken, NJ
79                                      Woodbridge, NJ
80                                         Matawan, NJ
81                                    Gaithersburg, MD
82                                    Grand Rapids, MI
83                                           Ewing, NJ
84                                  West Lafayette, IN
85                                       Oak Ridge, TN
86                                          Alaska, AK
87                                           Boise, ID
88                                           Pella, IA
89                                   Winston-Salem, NC
90                                          Lenexa, KS
91                                          Dulles, VA
92                                       Millville, DE
93                                     Creve Coeur, MO
94                                    Cedar Rapids, IA
95                                      Des Moines, IA
96                                     Glen Burnie, MD
97                                 Charlottesville, VA
98                                     Jersey City, NJ
99                                      Merrifield, VA
100                                       Honolulu, HI
101                                         Edison, NJ
102                                     Alpharetta, GA
103                                         Renton, WA
104                                   Crystal City, VA
105                                    Johns Creek, GA
106                                        Bothell, WA
107                                        Roanoke, VA
108                                      Amsterdam, NY
109                                    Mooresville, NC
110                                          Logan, UT
111                                         Albany, NY
112                                      United States
113                                      Tarrytown, NY
114                                       Michigan, MI
115                                     Fort Meade, MD
116                                     Piscataway, NJ
117                                       Brooklyn, NY
118                                    Carle Place, NY
119                               Rockville Centre, NY
120                                 Queens Village, NY
121                                     Middletown, NJ
122                                   Florham Park, NJ
123                                         Summit, NJ
124                                       Missouri, MO
125                                Gloucester City, NJ
126                                         Camden, NJ
127                                   Mount Laurel, NJ
128                                    Cherry Hill, NJ
129                                     Pennsauken, NJ
130                                      Linthicum, MD
131                                      Hillsboro, OR
132                                        Lincoln, RI
133                                 Patuxent River, MD
134                                         Kansas, KS
135                                       Riverton, UT
136                                      Knoxville, TN
137                                      Sheboygan, WI
138                                       Meridian, ID
139                                       Portland, OR
140                                        Raleigh, NC
141                                       Red Bank, NJ
142                                       Hartford, CT
143                                      Green Bay, WI
144                                         Juncos, PR
145                                      Corvallis, OR
146                                          Sandy, UT
147                                        Olympia, WA
148                                     Saint Paul, MN
149                                      Cresskill, NJ
150                                       San Juan, PR
151                                        Pontiac, MI
152                                   Falls Church, VA
153                                     Greensboro, NC
154                                          Camas, WA
155                                   Owings Mills, MD
156                                        Everett, WA
157                                      New Haven, CT
158                                     Belle Mead, NJ
159                                       Sterling, VA
160                                        Redmond, WA
161                                        Hanover, MD
162                                        Buffalo, NY
163                                   College Park, MD
164                                      Merrimack, NH
165                     Princeton Junction, MERCER, NJ
166                                        Norfolk, VA
167                                        Rosslyn, VA
168                                      Princeton, NJ
169                                         Olathe, KS
170                                           Troy, MI
171                                        Memphis, TN
172                                 Peachtree City, GA
173                                   Grain Valley, MO
174                                      Lynchburg, VA
175                                        Augusta, GA
176                                        Munster, IN
177                                           Ames, IA
178                                      Las Vegas, NV
179                                       Quantico, VA
180                                    Leavenworth, KS
181                                          Bowie, MD
182                                      Lafayette, IN
183                                      Brentwood, TN
184                                         Neenah, WI
185                                        Mission, KS
186                                       Kirkland, WA
187                                   Martinsville, VA
188                                          Bronx, NY
189                                      Beaverton, OR
190                                      Getzville, NY
191                                 Lexington Park, MD
192                                        Leawood, KS
193                                        Lansing, MI
194                                         Wilson, NC
195                                      Fort Mill, SC
196                                Fort Warren Afb, WY
197                                         Carmel, IN
198                                        Livonia, MI
199                                West Des Moines, IA
200               stamford, ct 06902, waterside area,
201          las vegas, nv 89128, desert shores area,
202                                         Beloit, WI
203                             Falls Church, VA 22043
204                               Germantown, MD 20876
205  grand rapids, mi 49503, norteast citizens acti...
206                             Millersville, MD 21108
207                                  Clayton, MO 63105
208                                 Fredericksburg, VA
209                                         Pierce, NE
210                                    Aldie, VA 20105
211                                          Fargo, ND
212                tacoma, wa 98402, new tacoma area,
213                               Portsmouth, NH 03801
214                                  Atlanta, GA 30339
215                                          Nyack, NY
216                stamford, ct 06901, downtown area,
217                                    Wake County, NC
218                                  Bemidji, MN 56601
219                                Lynchburg, VA 24513
220                                  Midvale, UT 84047
221                            Winston-Salem, NC 27106
222       salt lake city, ut 84106, sugar house area,
223                   reno, nv 89501, southwest area,
224             hartford, ct 06152, frog hollow area,
225       grand rapids, mi 49501, heritage hill area,
226                                Maryville, TN 37804
227                 atlanta, ga 30326, buckhead area,
228                                  Ashburn, VA 20148
229                             Eden Prairie, MN 55344
230                                        Pullman, WA
231      beaverton, or 97005, central beaverton area,
232                                St. Louis, MO 63127
233                        Monmouth Junction, NJ 08852
234                                        Oakwood, GA
235                              Chattanooga, TN 37421
236                                Rockville, MD 20850
237                                  Fairfax, VA 22031
238                               Minnetonka, MN 55305
239                             Falls Church, VA 22041
240                                   Neenah, WI 54956
241              reston, va 20190, sunset hills area,
242                                Princeton, NJ 08540
243                                 Bismarck, ND 58503
244                                        Jackson, MI
245                         Farmington Hills, MI 48334
246                                  Herndon, VA 20170
247                                     Germantown, MD
248                                            Ada, MI
249                                  Oneonta, NY 13820
250                                         Monroe, WI
251                                       Edgewood, MD
252              des moines, ia 50309, downtown area,
253                                   Wilton, CT 06897
254                             White Plains, NY 10604
255                                   Cartersville, GA
256                                         Victor, ID
257                             Newport News, VA 23606
258                bellevue, wa 98004, downtown area,
259     manhattan, ny 10038, financial district area,
260                raleigh, nc 27609, six forks area,
261                boise, id 83704, west valley area,
262                                    Bridgewater, NJ
263                                  Munster, IN 46321
264                                   Huntersville, NC
265                                  Redmond, WA 98052
266                                Nashville, TN 37027
267               lafayette, in 47901, downtown area,
268                                  Atlanta, GA 30319
269                                     Blacksburg, VA
270          alexandria, va 22301, potomac west area,
271                               Plainfield, IN 46168
272                                        Peapack, NJ
273                           Salt Lake City, UT 84116
274                                       Stamford, CT
275                                  South Windsor, CT
276                                   Carmel, IN 46032
277                                   Nashua, NH 03062
278                 atlanta, ga 30305, buckhead area,
279                                 Sterling, VA 20164
280                                         Draper, UT
281                              Schenectady, NY 12305
282               las vegas, nv 89120, paradise area,
283                                   Weston, WI 54476
284     charlotte, nc 28202, downtown charlotte area,
285                                  Herndon, VA 20171
286                                      Pineville, LA
287                               Alpharetta, GA 30005
288                                 Brooklyn, NY 11201
289                                Las Vegas, NV 89113
290                   boise, id 83702, downtown area,
291                 atlanta, ga 30301, buckhead area,
292                       Township Of Warren, NJ 07059
293                                Opelousas, LA 70570
294         milwaukee, wi 53209, thurston woods area,
295                                      Ava, MO 65608
296                                  Roswell, GA 30076
297               charlotte, nc 28202, dilworth area,
298                 lincoln, ne 68508, downtown area,
299                               Ronkonkoma, NY 11779
300                                      Manhattan, NY
301                             Township Of Warren, NJ
302                             Martinsville, VA 24112
303                                    Baton Rouge, LA
304                                Merrimack, NH 03054
305                                        Enfield, CT
306                                     Orem, UT 84057
307                                     Hackensack, NJ
308                                Lexington, KY 40513
309                                 Meridian, ID 83646
310                                    Diamondhead, MS
311                                Ann Arbor, MI 48106
312                 tacoma, wa 98402, newtacoma area,
313                                  Fairfax, VA 22030
314                                 Portland, OR 97204
315                                  Atlanta, GA 30329
316  reston, va 20191, south lakes dr - soapstone d...
317                                  Lawrenceville, NJ
318                                       Issaquah, WA
319                              Morrisville, NC 27560
320                portland, me 04101, downtown area,
321                                     Huntington, WV
322                                       Arkansas, AR
323          portland, or 97209, pearl district area,
324       lexington, ky 40507, central downtown area,
325                                  Everett, WA 98203
326                                 Santa Fe, NM 87507
327                                  Atlanta, GA 30328
328        minneapolis, mn 55414, prospect park area,
329                                    Oahu Island, HI
330                                         Duluth, GA
331             richmond, va 23235, stony point area,
332                                    Greeneville, TN
333                                   Vienna, VA 22180
334                                   Vienna, VA 22182
335                               Middletown, RI 02842
336             charlotte, nc 28208, eagle lake area,
337                reston, va 20191, hattontown area,
338  nashville, tn 37203, citizens protecting revit...
339                                  Fairfax, VA 22033
340                                Brentwood, TN 37027
341                                  Roanoke, VA 24018
342   des moines, ia 50309, downtown des moines area,
343                                       Tualatin, OR
344            tulsa, ok 74136, south creekside area,
345                                   Newport News, VA
346                     raleigh, nc 27606, west area,
347                                       Cheyenne, WY
348                                  Clinton, IA 52733
349                                      Bridgeton, MO
350                                 Quantico, VA 22135
351                                  Memphis, TN 37544
352                                       Plymouth, MN
353                                 Bethesda, MD 20816
354                                        Fairfax, VA
355                               Minnetonka, MN 55343
356                portland, or 97204, downtown area,
357                                 North Carolina, NC
358       grand rapids, mi 49503, heritage hill area,
359                                   Hillsborough, NJ
360                       Whitehouse Station, NJ 08889
361                                 San Juan, PR 00902
362                                   Mclean, VA 22107

In [11]:
# Gerando a classe do dataframe que utilizaremos no projeto
class Science:
    def __init__(self, name, company, location, description, salary):
        self.name = name
        self.company = company
        self.location = location
        self.description = description
        self.salary = salary
    
    @staticmethod
    def showById(lst, idx):
        if 0 <= idx < len(lst):
            print(f'Recuperado da lista o objeto de id: {idx}')
            item = lst[idx]
            print(f"Name: {item.name}," +
                  f"\nCompany: {item.company}," +
                  f"\nLocation: {item.location}," +
                  f"\nDescription: {item.description}," +
                  f"\nSalary: {item.salary}")
        else:
            print(f"O index informado ({idx}) não existe, por favor, selecione algo entre 0 e {len(lst)-1}.")

    @staticmethod
    def showAll(lst, top = None):
        if top is not None:
            print(f'Mostrando o(s) {top} primeiro(s) registro(s).')
            lst = lst[:top]
            
        for idx, item in enumerate(lst):
            print(f"ID: {idx}, Name: {item.name}, Company: {item.company}, Location: {item.location}, Description: {item.description}, Salary: {item.salary}")

list_science = [Science(row['Name'], row['Company'], row['Location'], row['Description'], row['Salary']) for index, row in df.iterrows()]

Science.showById(list_science, 20000)
Science.showAll(list_science, 2)

O index informado (20000) não existe, por favor, selecione algo entre 0 e 14818.
Mostrando o(s) 2 primeiro(s) registro(s).
ID: 0, Name: data scientist, Company: tantus technologies, inc., Location: woodlawn, md, Description: tantus technologies, inc, tantus, - recognized by the washington post as a top workplace - is seeking a data scientist with focus on artifical intellenge, machine learning, nlp and federal government healthcare space to help tantus build solutions for our customers that enable them to extract value from their data. drive the development of ai, ml, nlp solutions for tantus emerging technologies teamassist the team in identifying, building and optimizing machine learning algorithms and models, annotations, entity recognition and custom classifier models, assist with defining and driving ai strategiesbachelor’s or master’s degree in data science or artificial intelligence and machine learning, strongly preferred, ; bachelor’s or master’s degree in applied mathematics or computer scienceoverall experience for 3-5 years in the ai, ml, nlp domainhands on experience developing supervised modelshands on experience in at least one of the programming languages – python, r, java or chands on experience in working with databasesexposure to cloud technologies and general knowledge of at least one cloud platform provider, aws, azure or google, good communication skillsexperience in mlopsexperience in working with ml tools such as aws comprehend, sagemaker, google muppetsuite, Salary: 137500.0
ID: 1, Name: data scientist, Company: rogue credit union, Location: medford, or, Description: department: business intelligence and enterprise risk management. reports to:vice president of enterprise insights. grade:15classification: exempt. supervises direct: 0supervises indirect:0. role. this position is responsible for aiding operational areas of the organization leveraging both internal and external data assets to achieve business insights, gain deeper understanding of member needs, and enhance tactical and strategic decision making. essential functionsand responsibilities. 35% uncover and operationalize underlying structure and relationships within the data utilizing supervised and unsupervised machine learning techniques. develop models, processes, and structures necessary to support analytic needs of rogue credit union using machine learning in latest generation languages. work with vice president of enterprise insights and other staff to implement various analytical models, anything from churn, future value, or recommender systems. build small reporting layer on top of analytical models to ensure accountability and insight into models outcomes and impact. able to pilot and build poc’s to demonstrate and test business value of model. extracts operational, performance, statistical and other data from various information systems. 30% educate and demystify analytical models to business users. develop presentations and trainings for business users to increase understanding of statistics and implementation of models. maintain department as the competency center for analytics within rogue credit union. 30% works closely with vice president of enterprise insights to interpret report results. analyze, interpret, and summarize analytical model’s results. participates in the interpretation and context of complex business reports. runs what-if simulations based on varying factors and assumptions. identifies exceptions, positive and negative trends and measures that are out of tolerance with established limits and ranges. identifies potential concerns based on projections of current trends. performs statistical and financial analysis of data. 5% proactively performs other duties as needed or assigned. performance measurements. supports and practices rogues vision, mission, values, and loyalty culture. utilizes the service promises with both internal and external members. embraces rogues community involvement program in a positive and proactive manner. collaborates with other team members of formal and informal groups in the pursuit of rogue’s mission, vision, and guiding values. demonstrates empathy, self-reflection, and adjustment of own behaviors, displaying effective emotional intelligence. places team needs and priorities above personal needs. draws on the strengths of colleagues and gives credit to others contributions and achievements. adept with using large data sets to find opportunities for product and process optimization and models to test the effectiveness of different courses of action with a a proven ability to drive business results with databased insights. identifies and acts upon opportunities for continuous improvement. encourages prudent risk-taking, exploration of alternative approaches, and organizational learning. demonstrates personal commitment to change through actions and words. supports others in embracing change through times of stress and uncertainty. translates up to date information into continuous improvement activities that enhances performance. gathers and analyzes information or data on current and future trends of best practice. seeks information on issues impacting the progress of organizational and process issues. demonstrates excellent time management skills with the ability to work independently. prioritizes daily tasks and workflow and is able to multi-task. completes department and individual job-related goals on time and with quality results. assists in meeting credit union goals and objectives. knowledge and skills. experience:three years to five years of similar or related experience in designing, developing, and implementing data science solutions. understanding of the financial services industry desired. education: masters of science in information technology, computer science, statistics, or related degree preferred. equivalent to a college degree and a professional certificate or a graduate degree. bachelors of science degree in information technology, computer science, statistics, or related business degree with equivalent experience of 3 years. interpersonal skills:the ability to motivate or influence others is a material part of the job, requiring a significant level of diplomacy and trust. obtaining cooperation, internally and, or externally, is an important part of the job and a high level of interpersonal skills are critical to the success of this position. work frequently involves contacts requiring considerable discussion of problems, material presentations, and resolving issues impacting departments or divisions. other skills:prior experience developing business analytical solutions in large or midsize companies with the ability to manage multiple tasks simultaneously and react to problems quickly. must have programming experience with 4th generation and 3rd generation computer languages such as python and r, development experience with relational database structures, multi-dimensional database, and data warehouse design architecture, as well as experience with dashboard design and delivery. must possess strong sql abilities. experience with data mining models and ensemble model approaches or techniques. experience with both oracle and microsoft desired. must be highly productive, self-managed, resourceful, and dependable. should possess a strong eye for detail and accuracy, strong research, strategic, and critical thinking ability. must have excellent verbal and written communication skills and the ability to motivate or influence others using diplomacy and good judgment. physical requirements: some lifting required, up to 30 pounds, continuous sitting, occasional standing and occasional walking. finger dexterity while using computer. occasional talking and hearing in person and on the telephone. continuous clarity of vision at 20 inches or less and continuous clarity of vision at 20 feet or more. work environment:this job is an exempt position that requires flexibility in scheduling tasks and projects. the employee must independently monitor hours and judge the time needed to be spent on applicable duties. employee must be capable of adjusting to unpredictable schedules proactively. as a direct representative of the credit union, the employee must conduct and present themselves courteously and professionally. exposed to potentially hazardous conditions, i. e, robbery. travel to all credit union regions may be required. disclaimer. job descriptions are not intended, and should not be construed to be exhaustive lists of all responsibilities, skills, efforts, or working conditions associated with a job. they are intended to be accurate reflections of those principal job elements essential for making fair pay decisions about jobs. note: rogue credit union is a drug free workplace and requires a drug screening test within 48 hours of employment offer. rogue credit union is an equal opportunity employer and makes employment decisions without regard to race, color, national origin, religion, sex, age, disability, veteran status, or any other protected class. if you are an individual with a disability and require a reasonable accommodation to complete any part of the application process, or are limited in the ability or unable to access or use this online application process and need an alternative method, please call, 541, 622-7577 or email cnunez@roguecu. org. this job description is not a complete statement of all duties and responsibilities comprising the position., Salary: nan