In [85]:
# Utilizando sistema de gerenciador de pacotes.
# Todos os pacotes utilizados na aplicação, é listado no arquivo 'requirements.txt'.
# É obrigatório a execução desta bloco de código antes de executar os demais blocos de códigos.
%pip install -r requirements.txt

Requirement already satisfied: pandas==2.1.3 in c:\users\tcast\appdata\local\programs\python\python311\lib\site-packages (from -r requirements.txt (line 1)) (2.1.3)
Requirement already satisfied: matplotlib==3.8.1 in c:\users\tcast\appdata\local\programs\python\python311\lib\site-packages (from -r requirements.txt (line 2)) (3.8.1)
Requirement already satisfied: seaborn==0.13.0 in c:\users\tcast\appdata\local\programs\python\python311\lib\site-packages (from -r requirements.txt (line 3)) (0.13.0)
Requirement already satisfied: numpy==1.26.2 in c:\users\tcast\appdata\local\programs\python\python311\lib\site-packages (from -r requirements.txt (line 4)) (1.26.2)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\tcast\appdata\local\programs\python\python311\lib\site-packages (from pandas==2.1.3->-r requirements.txt (line 1)) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\tcast\appdata\local\programs\python\python311\lib\site-packages (from pandas==2.1.3->-r requirements.txt (line 1)) (2023.3)
Requirement already satisfied: tzdata>=2022.1 in c:\users\tcast\appdata\local\programs\python\python311\lib\site-packages (from pandas==2.1.3->-r requirements.txt (line 1)) (2023.3)
Requirement already satisfied: contourpy>=1.0.1 in c:\users\tcast\appdata\local\programs\python\python311\lib\site-packages (from matplotlib==3.8.1->-r requirements.txt (line 2)) (1.2.0)
Requirement already satisfied: cycler>=0.10 in c:\users\tcast\appdata\local\programs\python\python311\lib\site-packages (from matplotlib==3.8.1->-r requirements.txt (line 2)) (0.12.1)
Requirement already satisfied: fonttools>=4.22.0 in c:\users\tcast\appdata\local\programs\python\python311\lib\site-packages (from matplotlib==3.8.1->-r requirements.txt (line 2)) (4.44.3)
Requirement already satisfied: kiwisolver>=1.3.1 in c:\users\tcast\appdata\local\programs\python\python311\lib\site-packages (from matplotlib==3.8.1->-r requirements.txt (line 2)) (1.4.5)
Requirement already satisfied: packaging>=20.0 in c:\users\tcast\appdata\roaming\python\python311\site-packages (from matplotlib==3.8.1->-r requirements.txt (line 2)) (23.1)
Requirement already satisfied: pillow>=8 in c:\users\tcast\appdata\local\programs\python\python311\lib\site-packages (from matplotlib==3.8.1->-r requirements.txt (line 2)) (10.1.0)
Requirement already satisfied: pyparsing>=2.3.1 in c:\users\tcast\appdata\local\programs\python\python311\lib\site-packages (from matplotlib==3.8.1->-r requirements.txt (line 2)) (3.1.1)
Requirement already satisfied: six>=1.5 in c:\users\tcast\appdata\local\programs\python\python311\lib\site-packages (from python-dateutil>=2.8.2->pandas==2.1.3->-r requirements.txt (line 1)) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip available: 22.3.1 -> 23.3.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [86]:
# Importando as bibliotecas necessárias.
import pandas as pd
import matplotlib as plot
import seaborn as sbn
import numpy as np

In [87]:
# Atribuindo a variável 'principal' o arquivo .csv para tratabilidade
df = pd.read_csv(r'00_dataset\cleaned_data.csv', sep=',', encoding='utf-8')
df.head()

,Unnamed: 0,Name,Company,Location,Description,preprocessed_salary
0,0,data scientist,"tantus technologies, inc.","woodlawn, md","tantus technologies, inc, tantus, - recognized...",137500.0
1,1,data scientist,rogue credit union,"medford, or",department: business intelligence and enterpri...,NaN
2,2,data scientist,knowbe4,"clearwater, fl",we are ranked 1 best place to work in technolo...,85000.0
3,3,data scientist,affinity solutions,"new york, ny","data scientistaffinity solutions, marketing cl...",114500.0
4,4,data scientist,pnnl,"richland, wa",. *organization and job id. *job description. ...,76500.0

In [88]:
# Renomeando as colunas para uma melhor visualização
df.columns = ['ID', 'Name', 'Company', 'Location', 'Description', 'Salary']
df.head()

,ID,Name,Company,Location,Description,Salary
0,0,data scientist,"tantus technologies, inc.","woodlawn, md","tantus technologies, inc, tantus, - recognized...",137500.0
1,1,data scientist,rogue credit union,"medford, or",department: business intelligence and enterpri...,NaN
2,2,data scientist,knowbe4,"clearwater, fl",we are ranked 1 best place to work in technolo...,85000.0
3,3,data scientist,affinity solutions,"new york, ny","data scientistaffinity solutions, marketing cl...",114500.0
4,4,data scientist,pnnl,"richland, wa",. *organization and job id. *job description. ...,76500.0

In [89]:
# Verificado que a coluna em questão está para contagem de linhas, a mesma foi retirada do dataframe
df.drop(['ID'], axis=1, inplace=True)
df.head()

,Name,Company,Location,Description,Salary
0,data scientist,"tantus technologies, inc.","woodlawn, md","tantus technologies, inc, tantus, - recognized...",137500.0
1,data scientist,rogue credit union,"medford, or",department: business intelligence and enterpri...,NaN
2,data scientist,knowbe4,"clearwater, fl",we are ranked 1 best place to work in technolo...,85000.0
3,data scientist,affinity solutions,"new york, ny","data scientistaffinity solutions, marketing cl...",114500.0
4,data scientist,pnnl,"richland, wa",. *organization and job id. *job description. ...,76500.0

In [90]:
# Chamando a coluna Salary para visualização dos dados em questão
df['Salary'].count()

2277

In [91]:
# Fazendo a contagem de quantos NaN conta dentro da coluna 'Salary'
df['Salary'].isna().sum()

12542

In [92]:
# Atribuindo 0 aos valores ausentes na coluna 'Salary'
df['Salary'] = df['Salary'].fillna(0, inplace=False)
df.head()

,Name,Company,Location,Description,Salary
0,data scientist,"tantus technologies, inc.","woodlawn, md","tantus technologies, inc, tantus, - recognized...",137500.0
1,data scientist,rogue credit union,"medford, or",department: business intelligence and enterpri...,0.0
2,data scientist,knowbe4,"clearwater, fl",we are ranked 1 best place to work in technolo...,85000.0
3,data scientist,affinity solutions,"new york, ny","data scientistaffinity solutions, marketing cl...",114500.0
4,data scientist,pnnl,"richland, wa",. *organization and job id. *job description. ...,76500.0

In [93]:
# Configuração para mostrar o conteúdo completo da coluna
pd.set_option('display.max_colwidth', None)

In [94]:
# Resetar para o tamanho padrão (50)
pd.reset_option('display.max_colwidth')

In [95]:
# Função para tratar uma string dividida por vírgulas
def tratar_string(arg):
    partes = arg.split(',')
    
    if len(partes) == 1:   # Se houver apenas uma parte, converte para título (primeira letra de cada palavra maiúscula)
        return partes[0].title()
    elif len(partes) == 2: # Se houver duas partes, converte a primeira para título e a segunda para maiúsculas (removendo espaços em branco desnecessários)
        return f"{partes[0].title()}, {partes[1].strip().upper()}"
    elif len(partes) == 3: # Se houver três partes, converte a primeira para título, a segunda e a terceira para maiúsculas (removendo espaços em branco desnecessários)
        return f"{partes[0].title()}, {partes[1].strip().upper()}, {partes[2].strip().upper()}"
    else:                  # Se houver mais de três partes, retorna a string original
        return arg

# Converte as colunas 'Name' e 'Company' para o formato de título
df['Name'] = df['Name'].str.title()
df['Company'] = df['Company'].str.title()
df['Location'] = df['Location'].apply(tratar_string)  # Aplica a função tratar_string à coluna 'Location' do DataFrame

df.head()

,Name,Company,Location,Description,Salary
0,Data Scientist,"Tantus Technologies, Inc.","Woodlawn, MD","tantus technologies, inc, tantus, - recognized...",137500.0
1,Data Scientist,Rogue Credit Union,"Medford, OR",department: business intelligence and enterpri...,0.0
2,Data Scientist,Knowbe4,"Clearwater, FL",we are ranked 1 best place to work in technolo...,85000.0
3,Data Scientist,Affinity Solutions,"New York, NY","data scientistaffinity solutions, marketing cl...",114500.0
4,Data Scientist,Pnnl,"Richland, WA",. *organization and job id. *job description. ...,76500.0

In [96]:
# Definindo uma string padrão 'Scientist' para a variável defaultDataScientist
defaultDataScientist = 'Scientist'
# Definindo uma função chamada 'Job' que categoriza trabalhos com base em palavras-chave
def Job(arg):
    # Dicionário de categorias e suas palavras-chave associadas
    keywords = {
        'Data Scientist': ['scientist', 'science', 'sceintist'],
        'Data Analyst': ['analyst', 'analytics', 'analysis', 'anaylst', 'intelligence', 'model',
                         'big data', 'visual', 'verif', 'report', 'special', 'platf'],
        'Data Engineer': ['engineer'],
        'Machine Learning': ['machine learning'],
        'Data Architect': ['architect'],
        'Statistician': ['math', 'statis'],
        'App Developer': ['devel'],
        'Data Researcher': ['research'],
        'Biologist': ['biolo'],
        'Data Mining': ['mining'],
        'Consultant': ['consult'],
        'Data Manager': ['manage'],
        'Data Strategy': ['strat']
    }
    # Convertendo a entrada para minúsculas para tornar a comparação de palavras-chave case-insensitive
    arg_lower = arg.lower()
    # Iterando sobre as categorias e suas palavras-chave associadas
    for category, keywords_list in keywords.items():   
        if any(keyword in arg_lower for keyword in keywords_list): # Verificando se pelo menos uma palavra-chave está presente na entrada
            return category
    # Se nenhuma correspondência é encontrada, retorna 'Others'
    return 'Others'

dfName = df['Name'].unique()    # Obtendo valores únicos da coluna 'Name' do DataFrame df
resultados = [Job(i) for i in dfName]   # Aplicando a função Job para categorizar os nomes dos trabalhos e armazenando os resultados
resultados_series = pd.Series(resultados).unique()  # Obtendo valores únicos da série de resultados
df_resultados = pd.DataFrame(resultados_series, columns=['Names'])  # Criando um DataFrame com os resultados

df_resultados

               Names
0     Data Scientist
1      Data Engineer
2       Data Analyst
3             Others
4       Data Manager
5     Data Architect
6      App Developer
7          Biologist
8    Data Researcher
9         Consultant
10      Statistician
11     Data Strategy
12  Machine Learning
13       Data Mining

In [97]:
# Definindo uma função chamada 'Country' que extrai o código do país a partir de uma string
def Country(arg):
    partes = arg.split(', ')    # Dividindo a string em partes usando a vírgula e o espaço como delimitadores
    # Iterando sobre as partes da string
    for parte in partes:    
        if len(parte) == 2 and parte.isalpha(): # Verificando se a parte tem comprimento 2 e consiste apenas de caracteres alfabéticos
            return parte # Retorna a parte se atender aos critérios
    return 'arg'    # Se nenhum código de país é encontrado, retorna 'arg'


dflocation = df['Location'].unique()    # Obtendo valores únicos da coluna 'Location' do DataFrame df
resultados = [Country(i) for i in dflocation]   # Aplicando a função Country para extrair os códigos dos países e armazenando os resultados
resultados_series = pd.Series(resultados).unique()  # Obtendo valores únicos da série de resultados
df_resultados = pd.DataFrame(resultados_series, columns=['States']) # Criando um DataFrame com os resultados

df_resultados

   States
0      MD
1      OR
2      FL
3      NY
4      WA
5      CA
6      MN
7      NJ
8      IL
9      TX
10     MA
11     VA
12    arg
13     CO
14     MI
15     OH
16     PA
17     NM
18     CT
19     NC
20     MO
21     NE
22     GA
23     UT
24     AL
25     IN
26     LA
27     WI
28     ME
29     AZ
30     MT
31     DC
32     TN
33     DE
34     RI
35     KY
36     AK
37     ID
38     IA
39     KS
40     HI
41     SC
42     PR
43     NH
44     NV
45     WY
46     ND
47     VT
48     MS
49     WV
50     AR
51     il
52     mo
53     OK
54     SD

In [105]:
dfcompany = df['Company']
dfcompany.tolist()

['Tantus Technologies, Inc.',
 'Rogue Credit Union',
 'Knowbe4',
 'Affinity Solutions',
 'Pnnl',
 'Clearone Advantage',
 'Logic20, 20',
 'Wings Financial Cu',
 ', Intent, ',
 'Porch',
 'Tranzact',
 'Equity Residential',
 'Cyrusone',
 'Wish',
 'Audible',
 'H2O. Ai',
 'Nuna',
 'Takeda Pharmaceuticals',
 'Esri',
 'Mantech',
 'Quadreal',
 'Mars',
 'Pinnacol Assurance',
 'Mavtek',
 'Novetta',
 'Amrock',
 'Pfizer',
 'The David J. Joseph Company',
 'The Hanover Insurance Group',
 'Dicks Sporting Goods - Corporate',
 'Clearone Advantage',
 'Knowbe4',
 'New England Biolabs',
 'Tecolote Research',
 'Mitre',
 'Skysync',
 'Pfizer',
 'Nuna',
 'Persivia',
 'Amazon',
 'Sartorius',
 'Captech',
 'Numeric, Llc',
 'Lancer Insurance',
 'Intrado',
 'Intuit - Data',
 'Zimmerman Advertising',
 'Anson Mccade',
 'Yesler',
 'Swiss Re',
 'Liberty Mutual Insurance',
 'Visa Inc.',
 'Health Iq',
 'Netskope',
 'Useready',
 'Sartorius',
 '1904Labs',
 'Boys Town Hospital',
 'Transunion',
 'Blue Owl',
 'Northrop Grumman',
 'Equity Residential',
 'Pnnl',
 'Logic20, 20',
 'C Space',
 'Berg Health',
 'Oversight Systems',
 'Bankunited',
 'Johns Hopkins University Applied Physics Laboratory',
 'Triplebyte',
 'Torch Technologies, Inc.',
 'Amount',
 'Carmeuse',
 'Cboe Global Markets',
 'Excella Consulting',
 'Q2 Solutions',
 'Amazon',
 'Becks Hybrids',
 'Pacific Northwest National Laboratory',
 'Pactera',
 'Kodiak Robotics',
 'Springml',
 'Novetta',
 'Sumup',
 'Systems And Technology Research',
 'Peraton',
 'Gensco',
 'Demandbase',
 'Iseatz',
 'Mitre',
 'Intuit - Data',
 'General Dynamics Information Technology',
 'Visa Inc.',
 'Webfx. Com',
 'Porch',
 'Tranzact',
 'Dentaquest',
 'Maven Wave Partners',
 'Maximus Real Estate Partners',
 'Volume Integration, Llc',
 'Rapid Response Monitoring',
 'Seracare Life Sciences',
 'Hp Inc.',
 'Insight Enterprises, Inc.',
 'Noblis',
 'Pa Consulting',
 'Alector',
 'Bill. Com',
 'Hourigan',
 'American Axle And Manufacturing',
 'The Buffalo Group',
 'Redjack',
 'Thousandeyes',
 'Pennymac',
 'Briq',
 'Sapphire Digital',
 'Gns Healthcare',
 'It Concepts',
 'Biomarin Pharmaceutical',
 'Gotrg',
 'Nuwave Solutions',
 'Artcraft Entertainment',
 'Blueprint Medicines',
 'D. A. Davidson Companies',
 'Leah Labs',
 'Trilogy Ed',
 ', Intent, ',
 'Porch',
 'Biomarin Pharmaceutical',
 'It Concepts',
 'Worldquant',
 'Gotrg',
 'Nuwave Solutions',
 'Artcraft Entertainment',
 'Blueprint Medicines',
 'D. A. Davidson Companies',
 'Leah Labs',
 'Trilogy Ed',
 'The E. W. Scripps Company',
 'Genentech',
 'Object Partners',
 'Synagro',
 'Alliance Source Testing',
 'H2O. Ai',
 'Associated Banc-Corp',
 'Evolve Vacation Rental',
 'Teaching Strategies, Llc',
 'First Command Financial Services, Inc.',
 'Numeric, Llc',
 '7Park Data',
 'Upside Business Travel',
 'Bluecross Blueshield Of Tennessee',
 'Avanade',
 'Integrate',
 'Drfirst',
 'Intuit - Data',
 'Accuride International',
 'Novetta',
 'Wish',
 'Equity Residential',
 'Hamilton Porter Llc',
 'Beebe Healthcare',
 'Pharmavite',
 'Gridiron It',
 'Alector',
 'Intuit - Data',
 'Gsk',
 'Grainger',
 'H2O. Ai',
 'Patientpoint',
 'Autodesk',
 'Blue Cross And Blue Shield Of Rhode Island',
 'Thornburg Investment Management',
 'Knowledge Enterprise',
 'Legal And General America',
 'Clearedge',
 'Western Digital',
 'Redapt',
 'State Of Wisconsin Investment Board',
 'Argo Group Us',
 'Dodge Data And Analytics',
 'Mars',
 'Sunovion',
 'Mantech',
 'Associated Electric Cooperative',
 'Massmutual',
 'Rubius Therapeutics',
 'Pnnl',
 'Tower Health',
 'Mantech',
 'Takeda Pharmaceuticals',
 'H2O. Ai',
 'Biomarin Pharmaceutical',
 'Q2 Solutions',
 'Onemagnify',
 'Izea',
 'Ca-One Tech Cloud',
 'Massmutual',
 'Dsmh',
 'Red Ventures',
 'Pennymac',
 'Vionic Group',
 'Moda Operandi',
 'Crown Bioscience',
 'Ksm Consulting',
 'My Job Tank',
 'Seen By Indeed',
 'P2 Energy Solutions',
 'Blue Cross And Blue Shield Of Rhode Island',
 'Aptonet Inc',
 'Metrostar Systems',
 'Springml',
 'Glassdoor',
 'Genesys',
 'Alector',
 'Cerus Corporation',
 'Arbella Insurance',
 'Texas Health Huguley Hospital',
 'Gsn Games',
 'Q2 Solutions',
 'San Manuel Casino',
 'Reynolds American',
 'Cyrusone',
 'Nuna',
 'Glassdoor',
 'Springml',
 'Tempus Labs',
 'Genesys',
 'Texas Health Huguley Hospital',
 'Alector',
 'Osi Engineering',
 'Gsn Games',
 'San Manuel Casino',
 'Zest Ai',
 'Tapjoy',
 'Redstream Technology',
 'Q2 Solutions',
 'Advanced Bioscience Laboratories',
 'Q2 Solutions',
 'Recursion Pharmaceuticals',
 'Rti International',
 'Caci International',
 'Njf Global Holdings',
 'National Interstate',
 'Greenwich Biosciences',
 'Moser Consulting',
 'Mitre',
 'Teasdale Latin Foods',
 'Apellis Pharmaceuticals',
 'Muso',
 'Echo Global Logistics',
 'Karyopharm Therapeutics Inc.',
 'Credit Sesame',
 'Central California Alliance For Health',
 'Esri',
 'Mantech',
 'Dodge Data And Analytics',
 'Mars',
 '1904Labs',
 'Greenlight Biosciences',
 'N. F. Smith And Associates',
 'Hygiena',
 'Sunovion',
 'Mantech',
 'Mantech',
 'Veracyte',
 'Trace3',
 'Associated Electric Cooperative',
 'Blackline',
 'Stratagem Group',
 'Lockheed Martin',
 'Massmutual',
 'Rubius Therapeutics',
 'Sandhills Global',
 'N. F. Smith And Associates',
 'Tower Health',
 'Clarity Insights',
 'Pnnl',
 'Daugherty Business Solutions',
 'Bakery Agency',
 'Daugherty Business Solutions',
 'Chan Zuckerberg Initiative',
 'Mantech',
 'Genesis Research',
 'Plymouth Rock Assurance',
 'Centralreach',
 'Mars',
 'Pinnacol Assurance',
 'Astrazeneca',
 'Service Express',
 'Genentech',
 'Hp Inc.',
 'Church And Dwight',
 'Novartis',
 'Ameritas Life Insurance Corp',
 'Woolpert',
 'Rubius Therapeutics',
 'Dtn',
 '605',
 'Exelixis',
 'Esri',
 'Peraton',
 'The Hanover Insurance Group',
 'Alector',
 'The Hsc Health Care System',
 'Zylotech',
 'Trace3',
 'Smartnews, Inc.',
 'Pro-Sphere Tek',
 'Intuit - Data',
 'Novetta',
 'Cerus Corporation',
 'Sage Intacct',
 'Bwx Technologies',
 'Calista',
 'Pnnl',
 'Advanced Bioscience Laboratories',
 'Knowbe4',
 'Amrock',
 'Pfizer',
 'Veterans Affairs, Veterans Health Administration',
 'Ns8',
 'Cogo Labs',
 'Clearwater Analytics',
 'National Student Clearinghouse',
 'Nuwave Solutions',
 'Western Digital',
 'Northrop Grumman',
 'Shorepoint',
 'Spectrum Communications And Consulting',
 'Landt Infotech',
 'General Dynamics Information Technology',
 'Ntt Data Services',
 'Meraki',
 'Q2 Solutions',
 'Biomarin Pharmaceutical',
 'Peterson Technology Partners',
 'Vermeer',
 'Swiss Re',
 'Applied Information Sciences',
 'Izea',
 'Cambridge Mobile Telematics',
 'Bodybuilding. Com',
 'Market America Inc',
 'Onemagnify',
 'Gallup',
 'Intuit - Data',
 'Ca-One Tech Cloud',
 'Pact Pharma',
 'Massmutual',
 'The David J. Joseph Company',
 'Novetta',
 'Glassdoor',
 'Opinion Dynamics',
 'Fivestars',
 'Genesys',
 'Decode_M',
 'Tempus Labs',
 'Alector',
 'Cerus Corporation',
 'Texas Health Huguley Hospital',
 'Arbella Insurance',
 'Dynetics',
 'Pfizer',
 'Osi Engineering',
 'Osi Engineering',
 'Samsung Research America',
 'Johns Hopkins University Applied Physics Laboratory',
 'Freedman Healthcare',
 'Gsn Games',
 'Mccarthy Building Co',
 'Q2 Solutions',
 'Zest Ai',
 'The Climate Corporation',
 'San Manuel Casino',
 'Springml',
 'Calibre Systems',
 'Geomagical Labs',
 'Reynolds American',
 'Astrazeneca',
 'Pnnl',
 'Tapjoy',
 'Dicks Sporting Goods - Corporate',
 'Novartis',
 'Numeric, Llc',
 'Transunion',
 'Gny Insurance Companies',
 'Mteq',
 'Advanced Bioscience Laboratories',
 'Q2 Solutions',
 'Q2 Solutions',
 'Guidepoint',
 'Affinity Solutions',
 'Audentes Therapeutics',
 'Qualifacts Systems, Inc.',
 'Caci International',
 'Recursion Pharmaceuticals',
 'Country Financial',
 'Rincon Research Corporation',
 'Reynolds American',
 'Brighthouse Financial',
 'Pfizer',
 'Icw Group',
 'Vectorworks Inc.',
 'New Relic',
 'Cboe Global Markets',
 'Rti International',
 'Mathworks',
 'Pfizer',
 'National Interstate',
 'Njf Global Holdings',
 'Sunovion',
 'Spins, Llc',
 'Moser Consulting',
 'Pfizer',
 'New England Biolabs',
 'Astrazeneca',
 'Alin',
 'Reynolds American',
 'Pnnl',
 'Odsc Hiring Partner',
 'Numeric, Llc',
 'Redstream Technology',
 'Execonline',
 'Gny Insurance Companies',
 'Remedy Bpci Partners, Llc.',
 'Point72 Ventures',
 'Sada',
 'Transunion',
 'Q2 Solutions',
 'Advanced Bioscience Laboratories',
 'Steampunk',
 'Q2 Solutions',
 'Affinity Solutions',
 'Guidepoint',
 'Audentes Therapeutics',
 'Recursion Pharmaceuticals',
 'Caci International',
 'Rockwell Automation',
 'Country Financial',
 'Reynolds American',
 'Icw Group',
 'Brighthouse Financial',
 'Pfizer',
 'Quartet Health',
 'Rti International',
 'Mitre',
 'Tecolote Research',
 'Sunovion',
 'Spins, Llc',
 'Moser Consulting',
 'Signpost',
 'Stratifyd',
 'Sailpoint Technologies',
 'Peraton',
 'Pinnacol Assurance',
 'Mitre',
 'Greenwich Biosciences',
 'Genentech',
 'Muso',
 'Apellis Pharmaceuticals',
 'Liberty Mutual Insurance',
 'H2O. Ai',
 'Echo Global Logistics',
 'Pa Consulting',
 'Hire Resolve',
 'Karyopharm Therapeutics Inc.',
 'Frankcrum Staffing',
 'Novartis',
 'Intuit - Data',
 'Central California Alliance For Health',
 'Takeda Pharmaceuticals',
 'Altarum',
 'Maven Wave Partners',
 'Credit Sesame',
 'Calibre Systems',
 'Southwest Research Institute',
 'Massmutual',
 'Nuna',
 'Skysync',
 'Southwest Research Institute',
 'Health Union',
 'Meridian Technologies, Inc',
 'Alector',
 'Mcphail Associates',
 'Massmutual',
 'Alector',
 'Massmutual',
 'Orange Coast Memorial Medical Center',
 'Acceleron Pharma',
 'Safegraph',
 'Beebe Healthcare',
 'Smartnews, Inc.',
 'The Syllogisteks Company',
 'Zest Ai',
 'Greatamerica Financial Services',
 'Exelixis',
 'Ues, Inc.',
 'Oportun. Inc',
 'Exelixis',
 'Applied Research Laboratories',
 'Volume Integration, Llc',
 'Reynolds American',
 'Q2 Solutions',
 'Strategic Employment Partners',
 'Corporate Technologies Inc.',
 'Astrazeneca',
 'Monte Rosa Therapeutics',
 'Fhlbank Pittsburgh',
 'Gsk',
 'Intuit - Data',
 'Health Iq',
 'Oportun. Inc',
 'Applied Research Laboratories',
 'Volume Integration, Llc',
 'Reynolds American',
 'Q2 Solutions',
 'Strategic Employment Partners',
 'Corporate Technologies Inc.',
 'Astrazeneca',
 'Fhlbank Pittsburgh',
 'Reynolds American',
 'Gsk',
 'Emtec, Inc.',
 'Cb Insights',
 'Assurant',
 'Sanofi',
 'Fleetcor',
 'The Syllogisteks Company',
 'Figure Eight',
 'Apellis Pharmaceuticals',
 'Fandg',
 'The Syllogisteks Company',
 'Reynolds American',
 'Liberty Mutual Insurance',
 'Fareportal',
 'Tapjoy',
 'Onethree Biotech',
 'Johns Hopkins Health Care',
 'Desc',
 'Homology Medicines, Inc.',
 'Community Behavioral Health',
 'Amazon',
 'Numeric, Llc',
 'Cbs Interactive',
 'Edo, Inc.',
 'Scale Ai',
 'Secureshot, Llc',
 'Biz2Credit Inc',
 'Massmutual',
 'Numeric, Llc',
 'Hg Insights',
 'Intellipro Group Inc.',
 'Nektar Therapeutics',
 'West Coast Consulting Llc',
 'Dibell Group',
 'Metrostar Systems',
 'Digital Creative Institute',
 'Delphi-Us',
 'Galecki Search Associates',
 'Glassdoor',
 'Springml',
 'Technocraft Solutions',
 'Opinion Dynamics',
 'Criteo',
 'Delta Computer Consulting Inc',
 'Healthedge Software',
 'Fivestars',
 'Genesys',
 'Tempus Labs',
 'Leidos',
 'Deegit, Inc.',
 'Answerrocket',
 'Decode_M',
 'Zimmerman Advertising',
 '1904Labs',
 'Caredx',
 'Edward Daniels Group',
 'Divvy Homes',
 'Mitre',
 'Ihme',
 'Samsung Research America',
 'Johns Hopkins University Applied Physics Laboratory',
 'Cuboid It Solutions',
 'Siri Infosolutions Inc',
 'Gsn Games',
 '22Nd Century Technologies',
 'Mccarthy Building Co',
 'Freedman Healthcare',
 'Watchful',
 'Q2 Solutions',
 'Pathrise',
 'Zest Ai',
 'The Climate Corporation',
 'Usaa',
 'San Manuel Casino',
 'Conch Technologies, Inc',
 'Usaa',
 'Royce Geospatial',
 'Springml',
 'Lorven Technologies Inc',
 'Compuforce',
 'Medidata Solutions',
 'Calibre Systems',
 'Axion Healthcare Solutions',
 'Geomagical Labs',
 'Netskope',
 'Sartorius',
 'Jam City',
 'Spins, Llc',
 '22Nd Century Technologies',
 'Astrazeneca',
 'Execonline',
 'Pinnacol Assurance',
 'Aetna',
 'The New York Times',
 'Navy Federal Credit Union',
 'The Squires Group',
 'Central Pacific Bank',
 'Figure Eight',
 'Tiag',
 'Divvy Homes',
 'Commonwealth Financial',
 'Bayside Solutions',
 'Envelop Risk Analytics',
 'Avenuecode. Com',
 'Farmers Business Network, Inc.',
 'Ghd',
 'Course5 Intelligence',
 'Artlin Consulting',
 'Centauri',
 'Orbital Insight',
 'Relx Group',
 'Usaa',
 'Yum. Brands, Inc.',
 'Modis',
 'Sony Playstation',
 'Fm Systems',
 'Visa Inc.',
 'Useready',
 'Collinwood Technology Partners, Llc',
 'Astrazeneca',
 'Riverside Research Institute',
 'Onethree Biotech',
 'Blue Cross And Blue Shield Of North Carolina',
 'Pnnl',
 'Life360',
 'Qk',
 'Pnnl',
 'Massmutual',
 'Tranzact',
 'Agios Pharmaceuticals',
 'Southwest Research Institute',
 'Mitre',
 'Motorola Solutions',
 'Health Union',
 'Alector',
 'The Integer Group',
 'Meridian Technologies, Inc',
 'Mcphail Associates',
 'Pacific Biosciences',
 'Genentech',
 'Catasys',
 'Ntrepid',
 'Genentech',
 'Massmutual',
 'Super Micro Computer, Inc, Supermicro, ',
 'Massmutual',
 'Alector',
 'Novetta',
 'Swiss Re',
 'Liberty Mutual Insurance',
 'Maxar Technologies',
 'The Syllogisteks Company',
 'Zions Bancorporation',
 'Bluebird Bio',
 'Zest Ai',
 'Ptc Therapeutics, Inc.',
 'Greatamerica Financial Services',
 'Samsung Semiconductor, Inc.',
 'Ues, Inc.',
 'Exelixis',
 'Novetta',
 'Oportun. Inc',
 'Applied Research Laboratories',
 'Exelixis',
 'Alliancebernstein',
 'American Family Insurance',
 'Biogen',
 'Lucky Day',
 'Volume Integration, Llc',
 'Novetta',
 'Q2 Solutions',
 'Accuray',
 'Reynolds American',
 'Intuit - Data',
 'Corporate Technologies Inc.',
 'Tapjoy',
 'Autodesk',
 'Berry Appleman And Leiden',
 'Western Digital',
 'Strategic Employment Partners',
 'Sartorius',
 'The Buffalo Group',
 'Offerup',
 'Veterans United Home Loans',
 'Novartis',
 'Macys',
 'Hover',
 'Novartis',
 'Monte Rosa Therapeutics',
 'Astrazeneca',
 'Maxar Technologies',
 'Fhlbank Pittsburgh',
 'Novartis',
 'Numeric, Llc',
 'Bluebird Bio',
 'Gsk',
 'Kronos Bio',
 'Ciber',
 'Astrazeneca',
 'Reynolds American',
 'Career Movement',
 'Emtec, Inc.',
 'Agc Biologics',
 'Dtcc',
 'Opploans',
 'Natera',
 'Cb Insights',
 'Astrazeneca',
 'Assurant',
 'Prolacta Bioscience',
 'Takeda Pharmaceuticals',
 'The Climate Corporation',
 'Oversight Systems',
 'Avlino',
 'Qk',
 'Pnnl',
 'Massmutual',
 'Tranzact',
 'Southwest Research Institute',
 'Agios Pharmaceuticals',
 'Job Juncture',
 'Motorola Solutions',
 'Health Union',
 'Alector',
 'Meridian Technologies, Inc',
 'The Integer Group',
 'Genentech',
 'Mcphail Associates',
 'Massmutual',
 'Alector',
 'Acceleron Pharma',
 'Massmutual',
 'Orange Coast Memorial Medical Center',
 'Beebe Healthcare',
 'Safegraph',
 'Smartnews, Inc.',
 'The Syllogisteks Company',
 'Maxar Technologies',
 'Greatamerica Financial Services',
 'Zest Ai',
 'Oportun. Inc',
 'Exelixis',
 'Applied Research Laboratories',
 'Exelixis',
 'Blue Owl',
 'Transunion',
 'Volume Integration, Llc',
 'Applied Research Laboratories',
 'Q2 Solutions',
 'Intuit - Data',
 'Corporate Technologies Inc.',
 'Reynolds American',
 'Strategic Employment Partners',
 'Tapjoy',
 'Intraedge',
 'Hover',
 'Novartis',
 'Macys',
 'Fhlbank Pittsburgh',
 'Astrazeneca',
 'Kronos Bio',
 'Gsk',
 'Emtec, Inc.',
 'Reynolds American',
 'Assurant',
 'Cb Insights',
 'Mentor Graphics',
 'Sanofi',
 'The Syllogisteks Company',
 'Keen360, Inc.',
 'Fleetcor',
 'Apellis Pharmaceuticals',
 'Figure Eight',
 'Fandg',
 'The Syllogisteks Company',
 'Carilion Clinic',
 'Triplebyte',
 'Northrop Grumman',
 'Reynolds American',
 'Exelixis',
 'Liberty Mutual Insurance',
 'The Syllogisteks Company',
 'Fareportal',
 'Rodan And Fields, Llc',
 'Tapjoy',
 'Veracyte',
 'Johns Hopkins Health Care',
 'Desc',
 'Onethree Biotech',
 'Community Behavioral Health',
 'Homology Medicines, Inc.',
 'Apellis Pharmaceuticals',
 'Mitsubishi Electric Research Labs',
 'The Syllogisteks Company',
 'Raytheon',
 'Senti Biosciences',
 'Jounce Therapeutics',
 'Liberty Mutual Insurance',
 'Bridg',
 'Advanced Bioscience Laboratories',
 'Forma Therapeutics',
 'Sada',
 'Mitsubishi Electric Research Labs',
 'Esri',
 'Apellis Pharmaceuticals',
 'Southwest Research Institute',
 'Shorepoint',
 'Liberty Mutual Insurance',
 'Johns Hopkins University Applied Physics Laboratory',
 'Volume Integration, Llc',
 'Odsc Hiring Partner',
 'Redstream Technology',
 'Pnnl',
 'Success Academy Charter Schools',
 'Numeric, Llc',
 'Gny Insurance Companies',
 'Medidata Solutions',
 'Execonline',
 'Point72 Ventures',
 'Brillient',
 'Adyen N. V.',
 'Transunion',
 'Remedy Bpci Partners, Llc.',
 'Mteq',
 'Sada',
 'Advanced Bioscience Laboratories',
 'Solugenix Corporation',
 'Edison Software, Inc.',
 'Q2 Solutions',
 'Steampunk',
 'Q2 Solutions',
 'The Judge Group, Inc.',
 'Affinity Solutions',
 'Carefirst Bluecross Blueshield',
 'Crossix Solutions',
 'Strategic Financial Solutions',
 'Sentilink',
 'Guidepoint',
 'Icon Health And Fitness',
 'Compqsoft',
 'Novartis',
 'Carmeuse',
 'Reynolds American',
 'Evidera',
 'Astrazeneca',
 'Corporate Technologies Inc.',
 'Tapjoy',
 'Astrazeneca',
 'Life360',
 'Berry Appleman And Leiden',
 'Autodesk',
 'Western Digital',
 'Nystec',
 'Strategic Employment Partners',
 'Offerup',
 'Novartis',
 'Clarity Insights',
 'Hover',
 'Veterans United Home Loans',
 'Macys',
 'Novartis',
 'Bluebird Bio',
 'Monte Rosa Therapeutics',
 'Astrazeneca',
 'Pfizer',
 'Fhlbank Pittsburgh',
 'Maxar Technologies',
 'Bluebird Bio',
 'Novartis',
 'Astrazeneca',
 'Pfizer',
 'Novartis',
 'Intuit - Data',
 'Amount',
 'Exelixis',
 'Novetta',
 'Oportun. Inc',
 'Exelixis',
 'Natera',
 'Northrop Grumman',
 'Applied Research Laboratories',
 'Regeneron',
 'American Family Insurance',
 'Cybercoders',
 'Astrazeneca',
 'Osi Engineering',
 'Biogen',
 'Volume Integration, Llc',
 'Shipt',
 'Novetta',
 'Q2 Solutions',
 'Reynolds American',
 'Astrazeneca',
 'Evidera',
 'Astrazeneca',
 'Regeneron',
 'Life360',
 'Autodesk',
 'Berry Appleman And Leiden',
 'Genentech',
 'Strategic Employment Partners',
 'Novartis',
 'Veterans United Home Loans',
 'Macys',
 'Pactera',
 'Miracle Software Systems',
 'Analytic Recruiting',
 'Robert Half',
 'Spins, Llc',
 'Rbr Technologies',
 'Sunovion',
 'Moser Consulting',
 'Equian Llc',
 'Gsk',
 'Stratifyd',
 'A-Line Staffing Solutions',
 'Pfizer',
 'Johns Hopkins University Applied Physics Laboratory',
 'Creative Circle, Llc',
 'Strategic Employment Partners',
 'Sailpoint Technologies',
 'Pinnacol Assurance',
 'Peraton',
 'Plymouth Rock Assurance',
 'Greenwich Biosciences',
 'Healthfirst',
 'Micron',
 'Pyramid Consulting, Inc.',
 'Muso',
 'Njvc',
 'Apellis Pharmaceuticals',
 'Genentech',
 'Gps Staffing',
 'H2O. Ai',
 'Echo Global Logistics',
 'Hire Resolve',
 'Hopper. 3. 5',
 'Noom Us. 4. 5',
 'Decode_M',
 'Sapphire Digital. 3. 4',
 'United Entertainment Group. 3. 4',
 'Ifg Companies. 2. 9',
 'Pdt Partners. 4. 4',
 'Enlightenment Research',
 'Paige. 5. 0',
 'Jane Street. 4. 8',
 'Quartet Health. 3. 9',
 'Pulsepoint. 4. 4',
 'Medidata Solutions. 4. 3',
 'Point72. 3. 9',
 'Two Sigma. 4. 4',
 'Affinity Solutions. 3. 0',
 'Etsy. 3. 6',
 'Pa Consulting. 3. 3',
 'Etsy. 3. 6',
 '7Park Data. 3. 9',
 'Walt Disney Co. 4. 0',
 'Squarespace. 3. 4',
 'Citadel Securities. 4. 1',
 'Enterprise Integration. 3. 4',
 'Within. 4. 4',
 'Spotify. 3. 8',
 'Datadog. 4. 1',
 'Aetna. 3. 3',
 'Hungryroot. 5. 0',
 'Aetna. 3. 3',
 'Caserta. 4. 3',
 'Lyft. 3. 7',
 'Ibg Llc. 4. 3',
 'Clear. 3. 0',
 'Gny Insurance Companies. 3. 7',
 'Squarespace. 3. 4',
 'Andiamo. 3. 5',
 'Infarm. 4. 2',
 'Andiamo. 3. 5',
 'Bowery Farming. 4. 6',
 'Northone. 4. 3',
 'Citadel Securities. 4. 1',
 ...]

In [11]:
# Gerando a classe do dataframe que utilizaremos no projeto
class Science:
    def __init__(self, name, company, location, description, salary):
        self.name = name
        self.company = company
        self.location = location
        self.description = description
        self.salary = salary
    
    @staticmethod
    def showById(lst, idx):
        if 0 <= idx < len(lst):
            print(f'Recuperado da lista o objeto de id: {idx}')
            item = lst[idx]
            print(f"Name: {item.name}," +
                  f"\nCompany: {item.company}," +
                  f"\nLocation: {item.location}," +
                  f"\nDescription: {item.description}," +
                  f"\nSalary: {item.salary}")
        else:
            print(f"O index informado ({idx}) não existe, por favor, selecione algo entre 0 e {len(lst)-1}.")

    @staticmethod
    def showAll(lst, top = None):
        if top is not None:
            print(f'Mostrando o(s) {top} primeiro(s) registro(s).')
            lst = lst[:top]
            
        for idx, item in enumerate(lst):
            print(f"ID: {idx}, Name: {item.name}, Company: {item.company}, Location: {item.location}, Description: {item.description}, Salary: {item.salary}")

list_science = [Science(row['Name'], row['Company'], row['Location'], row['Description'], row['Salary']) for index, row in df.iterrows()]

Science.showById(list_science, 20000)
Science.showAll(list_science, 2)

O index informado (20000) não existe, por favor, selecione algo entre 0 e 14818.
Mostrando o(s) 2 primeiro(s) registro(s).
ID: 0, Name: data scientist, Company: tantus technologies, inc., Location: woodlawn, md, Description: tantus technologies, inc, tantus, - recognized by the washington post as a top workplace - is seeking a data scientist with focus on artifical intellenge, machine learning, nlp and federal government healthcare space to help tantus build solutions for our customers that enable them to extract value from their data. drive the development of ai, ml, nlp solutions for tantus emerging technologies teamassist the team in identifying, building and optimizing machine learning algorithms and models, annotations, entity recognition and custom classifier models, assist with defining and driving ai strategiesbachelor’s or master’s degree in data science or artificial intelligence and machine learning, strongly preferred, ; bachelor’s or master’s degree in applied mathematics or computer scienceoverall experience for 3-5 years in the ai, ml, nlp domainhands on experience developing supervised modelshands on experience in at least one of the programming languages – python, r, java or chands on experience in working with databasesexposure to cloud technologies and general knowledge of at least one cloud platform provider, aws, azure or google, good communication skillsexperience in mlopsexperience in working with ml tools such as aws comprehend, sagemaker, google muppetsuite, Salary: 137500.0
ID: 1, Name: data scientist, Company: rogue credit union, Location: medford, or, Description: department: business intelligence and enterprise risk management. reports to:vice president of enterprise insights. grade:15classification: exempt. supervises direct: 0supervises indirect:0. role. this position is responsible for aiding operational areas of the organization leveraging both internal and external data assets to achieve business insights, gain deeper understanding of member needs, and enhance tactical and strategic decision making. essential functionsand responsibilities. 35% uncover and operationalize underlying structure and relationships within the data utilizing supervised and unsupervised machine learning techniques. develop models, processes, and structures necessary to support analytic needs of rogue credit union using machine learning in latest generation languages. work with vice president of enterprise insights and other staff to implement various analytical models, anything from churn, future value, or recommender systems. build small reporting layer on top of analytical models to ensure accountability and insight into models outcomes and impact. able to pilot and build poc’s to demonstrate and test business value of model. extracts operational, performance, statistical and other data from various information systems. 30% educate and demystify analytical models to business users. develop presentations and trainings for business users to increase understanding of statistics and implementation of models. maintain department as the competency center for analytics within rogue credit union. 30% works closely with vice president of enterprise insights to interpret report results. analyze, interpret, and summarize analytical model’s results. participates in the interpretation and context of complex business reports. runs what-if simulations based on varying factors and assumptions. identifies exceptions, positive and negative trends and measures that are out of tolerance with established limits and ranges. identifies potential concerns based on projections of current trends. performs statistical and financial analysis of data. 5% proactively performs other duties as needed or assigned. performance measurements. supports and practices rogues vision, mission, values, and loyalty culture. utilizes the service promises with both internal and external members. embraces rogues community involvement program in a positive and proactive manner. collaborates with other team members of formal and informal groups in the pursuit of rogue’s mission, vision, and guiding values. demonstrates empathy, self-reflection, and adjustment of own behaviors, displaying effective emotional intelligence. places team needs and priorities above personal needs. draws on the strengths of colleagues and gives credit to others contributions and achievements. adept with using large data sets to find opportunities for product and process optimization and models to test the effectiveness of different courses of action with a a proven ability to drive business results with databased insights. identifies and acts upon opportunities for continuous improvement. encourages prudent risk-taking, exploration of alternative approaches, and organizational learning. demonstrates personal commitment to change through actions and words. supports others in embracing change through times of stress and uncertainty. translates up to date information into continuous improvement activities that enhances performance. gathers and analyzes information or data on current and future trends of best practice. seeks information on issues impacting the progress of organizational and process issues. demonstrates excellent time management skills with the ability to work independently. prioritizes daily tasks and workflow and is able to multi-task. completes department and individual job-related goals on time and with quality results. assists in meeting credit union goals and objectives. knowledge and skills. experience:three years to five years of similar or related experience in designing, developing, and implementing data science solutions. understanding of the financial services industry desired. education: masters of science in information technology, computer science, statistics, or related degree preferred. equivalent to a college degree and a professional certificate or a graduate degree. bachelors of science degree in information technology, computer science, statistics, or related business degree with equivalent experience of 3 years. interpersonal skills:the ability to motivate or influence others is a material part of the job, requiring a significant level of diplomacy and trust. obtaining cooperation, internally and, or externally, is an important part of the job and a high level of interpersonal skills are critical to the success of this position. work frequently involves contacts requiring considerable discussion of problems, material presentations, and resolving issues impacting departments or divisions. other skills:prior experience developing business analytical solutions in large or midsize companies with the ability to manage multiple tasks simultaneously and react to problems quickly. must have programming experience with 4th generation and 3rd generation computer languages such as python and r, development experience with relational database structures, multi-dimensional database, and data warehouse design architecture, as well as experience with dashboard design and delivery. must possess strong sql abilities. experience with data mining models and ensemble model approaches or techniques. experience with both oracle and microsoft desired. must be highly productive, self-managed, resourceful, and dependable. should possess a strong eye for detail and accuracy, strong research, strategic, and critical thinking ability. must have excellent verbal and written communication skills and the ability to motivate or influence others using diplomacy and good judgment. physical requirements: some lifting required, up to 30 pounds, continuous sitting, occasional standing and occasional walking. finger dexterity while using computer. occasional talking and hearing in person and on the telephone. continuous clarity of vision at 20 inches or less and continuous clarity of vision at 20 feet or more. work environment:this job is an exempt position that requires flexibility in scheduling tasks and projects. the employee must independently monitor hours and judge the time needed to be spent on applicable duties. employee must be capable of adjusting to unpredictable schedules proactively. as a direct representative of the credit union, the employee must conduct and present themselves courteously and professionally. exposed to potentially hazardous conditions, i. e, robbery. travel to all credit union regions may be required. disclaimer. job descriptions are not intended, and should not be construed to be exhaustive lists of all responsibilities, skills, efforts, or working conditions associated with a job. they are intended to be accurate reflections of those principal job elements essential for making fair pay decisions about jobs. note: rogue credit union is a drug free workplace and requires a drug screening test within 48 hours of employment offer. rogue credit union is an equal opportunity employer and makes employment decisions without regard to race, color, national origin, religion, sex, age, disability, veteran status, or any other protected class. if you are an individual with a disability and require a reasonable accommodation to complete any part of the application process, or are limited in the ability or unable to access or use this online application process and need an alternative method, please call, 541, 622-7577 or email cnunez@roguecu. org. this job description is not a complete statement of all duties and responsibilities comprising the position., Salary: nan